mixin object-calc()
    +b.SECTION.object-calc
        +e.title
            +title('h2', 'medium')
                | Рассчитайте ваш доход
        +e.wrapper
            +e.investment
                +e.investment-range
                +e.investment-data
                    +e.investment-label Сколько вложить
                    +e.investment-value
            +e.income-result
                +e.income-label Сколько получить
                +e.income-range
                +e.image
                    img(src='images/redesign/object-cards/object1.jpg', alt="")
                +e.income-data(data-min='300000' data-max='18000000' data-liberty-step='85000' data-step='100000' data-initial='2000000')
                    +e.data-row
                        +e.data-value.__income 0
                        +e.data-label Ежемесячный доход
                    +e.data-row
                        +e.data-value.__share 0
                        +e.data-label Приобретенных паев
                    +e.data-row
                        +e.data-value.__rate(data-rate='12.8' data-liberty-rate='13.8') 12.8%
                        +e.data-label Доходность
                    +e.BUTTON.button.btn(type='button') Оставить заявку