mixin object-calc()
    +b.SECTION.object-calc
        +e.title
            +title('h2', 'medium')
                | Рассчитайте ваш доход
        +e.wrapper
            +e.investment
                +e.investment-range
                +e.investment-data
                    +e.investment-label Сколько вложить
                    +e.investment-value
            +e.income-result
                +e.income-label Сколько получить
                //- +e.income-range
                +e.image
                    img(src='images/redesign/object-cards/object1.jpg', alt="")
                +e.income-data(data-min='300000' data-max='18000000' data-liberty-step='85000' data-step='100000' data-initial='2000000' data-payout='72000')
                    +e.data-row
                        +e.data-label Ежемесячный доход
                        +e.data-value.__income
                            span.value(contenteditable='true')  0
                            span.suffix  ₽
                    +e.data-row
                        +e.data-label Приобретенных паев
                        +e.data-value.__share
                            span.value(contenteditable='true') 0
                            span.suffix &nbsp;
                    +e.data-row
                        +e.data-label Стоимость пая
                        +e.data-value.__step
                            span.value(contenteditable='true') 0
                            span.suffix  ₽
                    +e.data-row
                        +e.data-label Доходность
                        +e.data-value.__rate
                            span.value 12.8
                            span.suffix %
                    +e.BUTTON.button.btn(type='button') Оставить заявку