mixin object-estimates()
    +b.SECTION.object-estimates
        +e.title
            +title('h2', 'medium')
                | Прогноз доходности
            span январь 2019 — февраль 2020
        +e.wrapper
            +e.main
                +e.sum-value 59 227 357 ₽
                +e.sum-label Прибыль к распределению 
            +e.aside
                +e.row
                    +e.value.--positive 93 985 738 ₽
                    +e.label Валовый доход
                +e.row
                    +e.value.--minus 25 524 435 ₽
                    +e.label Расходы
                +e.row
                    +e.value.--equal 68 461 303 ₽
                    +e.label Чистый операционный доход
                +e.row
                    +e.value.--minus 9 233 946 ₽
                    +e.label Комиссия за управление