.object-estimates {
    position: relative;
    z-index: 12;
    background-color: #fff;

    &__title {
        margin-bottom: 32px;

        span {
            margin-top: 5px;
            display: block;

            font-size: 15px;
            font-weight: 600;
            color: #959595;
        }
    }

    &__main {
        margin-bottom: 40px;
    }

    &__wrapper {
        margin-bottom: 50px;
    }

    &__aside {
        &--desktop {
            display: none;
        }
    }

    &__sum-value {
        color: $theme-color;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.2;
        white-space: nowrap;
    }

    &__sum-label {
        font-size: 12px;
        line-height: 1.5;
    }

    &__row {
        margin-bottom: 16px;
        padding-left: 72px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__value {
        position: relative;

        font-size: 24px;
        font-weight: 600;

        &--positive,
        &--equal {
            color: $theme-color;
        }

        &--equal {
            &::before {
                content: '=';
                position: absolute;
                left: -32px;
                top: 50%;
                transform: translateY(-50%);

                color: inherit;
                font-size: inherit;
            }
        }

        &--minus,
        &--divide {
            color: #cecece;

            &::before {
                content: '-';
                position: absolute;
                top: 50%;
                left: -30px;
                transform: translateY(-50%);

                color: inherit;
                font-size: inherit;
            }
        }

        &--divide {
            &::before {
                content: '/';
            }
        }
    }

    &__label {
        font-size: 14px;
    }

    &__link {
        display: none;
        text-align: center;

        &--mobile {
            display: block;
        }
    }
}

@media #{$tablet} {
    .object-estimates {
        &__wrapper {
            display: flex;
        }

        &__main {
            width: 40%;
            flex: 0 0 auto;
            padding-right: 15px;
        }

        &__aside {
            width: 50%;
            flex: 1 1 auto;
            margin-bottom: 0;
        }

        &__sum-value {
            font-size: 36px;
        }

        &__link {
            padding-left: 40%;
        }
    }
}

@media #{$laptop} {
    .object-estimates {
        &__sum-value {
            font-size: 58px;
        }
    }
}

@media #{$desktop} {
    .object-estimates {
        &__title {
            margin-bottom: 80px;

            span {
                display: inline-block;
                font-size: 34px;
                margin-left: 24px;
            }
        }

        &__wrapper {
            margin-bottom: 0;
        }

        &__main {
            width: 360px;
            margin-bottom: 0;
            margin-top: -10px;
        }

        &__aside {
            display: none;

            &--desktop {
                display: flex;
            }
        }

        &__col {
            width: 33%;
            padding: 0 26px;

            border-left: 1px solid #bebebe;
        }

        &__row {
            padding-left: 20px;
            margin-bottom: 32px;
            min-height: 60px;
        }

        &__label {
            font-size: 12px;
        }

        &__sum-value {
            font-size: 60px;
        }

        &__sum-label {
            font-size: 14px;
        }

        &__link {
            display: block;
            text-align: left;
            padding: 0;
            padding-top: 65px;

            &--mobile {
                display: none;
            }
        }
    }
}
