.object-new {
    position: relative;

    &__title {
        display: none;
    }

    &__wrapper {
        display: flex;
        flex-flow: column nowrap;
    }

    &__navigation {
        padding-top: 8px;
        position: sticky;
        z-index: 19;
        top: 0;
        width: calc(100% + 40px);
        margin-left: -20px;

        background-color: #fff;
    }

    &__section {
        > section {
            padding-top: 90px;
        }

        &--top {
            > section {
                padding-top: 0;
            }
        }

        &#objectFinances,
        &#objectEstimates,
        &#objectPlans {
            /* hack to make side lines visible but not central */
            padding-left: 1px;
            padding-right: 1px;
        }
    }
}

@media #{$tablet} {
    .object-new {
        padding-top: 40px;

        .lines {
            .line {
                width: 30%;
                left: calc(40% + 7px);

                &::after {
                    display: none;
                }
            }
        }

        &__title {
            display: block;
            margin-bottom: 35px;
        }

        &__wrapper {
            width: 100%;
        }

        &__navigation {
            padding-top: 0;
            margin-bottom: 24px;
            width: 100%;
            margin: 0;

            border-left: 1px solid rgba(#919191, 0.2);
            border-right: 1px solid rgba(#919191, 0.2);

            .page-navigation {
                padding: 0;
            }
        }

        &__section {
            width: 100%;
        }
    }
}

@media #{$laptop} {
    .object-new {
        .lines {
            .line {
                left: calc(40% + 13px);
            }
        }
    }
}

@media #{$desktop} {
    .object-new {
        .lines {
            .line {
                left: 420px;
            }
        }

        &__wrapper {
            width: 100%;
        }

        &__section {
        }
    }
}
