mixin object-new()
    +b.object-new
        +lines
        +inner
            +e.wrapper
                +e.navigation
                    +page-navigation
                        +e.A.link.active.current(href='#' data-scroll-to='objectDescription' data-scroll-offset='75') Описание
                        +e.A.link(href='#' data-scroll-offset='75') Рассчитать доход
                        +e.A.link(href='#' data-scroll-to='objectLocation' data-scroll-offset='75') Расположение
                        +e.A.link.locked(href='#' data-tippy-content='И вот почему') Финансовые показатели
                            //- +icon('lock')
                        +e.A.link.locked(href='#' data-scroll-to='objectPlans') Планировка
                            //- +icon('lock')
                +e.section.--top
                    +object-slider
                +e.section(id='objectDescription')
                    +object-description
                +e.section(id='objectCalc')
                    +object-calc
                +e.section(id='objectLocation')
                    +object-location
                +e.section(id='objectFinances')
                    +object-finances
                +e.section(id='objectEstimates')
                    +object-estimates
                +e.section(id='objectPlans')
                    +object-plans



