.base-input {
    position: relative;
    width: 100%;

    font-size: 16px;
    font-weight: 400;
    line-height: normal;

    -webkit-tap-highlight-color: transparent;

    &.no-label {
        .base-input__label {
            display: none;
        }
    }
}

.base-input__input {
    width: 100%;
    padding: 9px 0;
    border: none;
    outline: none;

    border-bottom: 1px solid #d2d2d2;

    transition: border-color 300ms ease;

    &:focus {
        border-bottom-color: $theme-color;

        ~ .base-input__label {
            transform: scale(0.5) translateY(-200%);
            color: #000;
            left: 0;
        }
    }

    &.hasValue {
        ~ .base-input__label {
            transform: scale(0.5) translateY(-200%);
            color: #000;
            left: 0;
        }
    }

    &::placeholder {
        color: $text-color-light;
    }

    &:disabled {
        background-color: #fff;
        opacity: 0.5;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type='number'] {
        -moz-appearance: textfield;
    }
}

.base-input__label {
    position: absolute;
    left: 0;
    top: 12px;
    font-size: 16px;
    color: $text-color-light;

    transition: transform 200ms ease, color 200ms ease;
    transform-origin: left center;

    pointer-events: none;

    &.js-focus {
        transform: scale(0.5) translateY(-200%);
        color: #000;
        left: 0;
    }
}

.base-input.has-error {
    .base-input__input {
        border-bottom-color: #f52f4b;
    }

    .base-input__label {
        color: #f52f4b;
    }
}

.base-input__errors {
    display: none;
    position: relative;
    margin-top: 5px;

    font-size: 14px;
    color: #f52f4b;

    &.has-error {
        display: block;
    }
}
