mixin invest-object-card(id, name, price)
    +b.invest-object-card&attributes(attributes)
        +e.image
            img(src='images/object-cards/object' + id +'.jpg', alt="")
        +e.name= name
        +e.price= price
        +e.P.tip Ваш доход от объекта при вложении  от&nbsp;10&nbsp;000&nbsp;000млн.&nbsp;рублей
        +e.A.link(href='#') Инвестировать в объект 