mixin partners-status()
    +b.SECTION.partners-status
        +inner
            +e.wrapper
                +e.title
                    +title
                        | Получите<br>статус<br> партнера
                    +e.step 2
                +e.P.text Мы предоставляем участникам программы эксклюзивное право предлагать наш продукт своим клиентам. Вы получите всю необходимую информацию и компетенции позволяющие начать зарабатывать привлекая инвестиции в коммерческую недвижимость
                +e.icon +
                +e.actions
                    +e.action
                        +e.action-title Всесторонняя поддержка
                        +e.action-text Предоставляем доступ на портал, где вы найдете маркетинговые и обучающие метриалы, контроль знаний в виде тестов, записи вебинаров, ответы на часто задаваемые вопросы
                    +e.action
                        +e.action-title Прозрачная система премирования  
                        +e.action-text В рамках сотрудничества партнеры Aktivo получают доступ к личному кабинету, где отображена статистика по переходам, регистрациям и сделкам