mixin partners-status()
    +b.SECTION.partners-status
        +inner
            +e.wrapper
                +e.title
                    +title
                        | Получите<br>статус<br> партнера
                    +e.step 2
                +e.P.text Мы предоставляем участникам программы эксклюзивное право предлагать наш продукт своим клиентам. Вы получите всю необходимую информацию и компетенции позволяющию начать зарабатывать привлекая инвестиции в коммерческую недвижимость
                +e.id ID
                +e.actions
                    +e.action
                        +e.action-title Знакомство с менеджментом 
                        +e.action-text Предоставляем подробные инструкции и маркетинговые материалы. Поддерживаем партнеров на всех этапах продаж 
                    +e.action
                        +e.action-title Прозрачная система премирования  
                        +e.action-text В рамках сотрудничества партнеры Aktivo получают вознаграждение за каждую сделку с клиентом, включая повторные
