@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-300.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-300.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-400.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-400.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-500.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-500.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-600.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-600.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-700.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-700.woff") format("woff");
  font-display: swap; }

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.authorization__login {
  display: block;
  padding-right: 15px;
  position: relative;
  font-size: 13px;
  line-height: 1.5;
  color: var(--theme-text-color);
  text-decoration: none;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  transition: color 300ms ease; }
  .authorization__login:hover, .authorization__login:active, .authorization__login:focus {
    color: #fed63f;
    text-decoration: none; }
  .authorization__login::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-35%) rotate(-45deg);
       -moz-transform: translateY(-35%) rotate(-45deg);
        -ms-transform: translateY(-35%) rotate(-45deg);
            transform: translateY(-35%) rotate(-45deg);
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fed63f; }

.authorization__logged {
  position: relative;
  width: 180px;
  top: 10px; }

.authorization__toggle {
  position: relative;
  width: 100%;
  padding: 10px;
  padding-right: 20px;
  display: inline-block;
  color: #fff;
  background: #4ec673;
  text-align: left;
  border-radius: 3px;
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }
  .authorization__toggle::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid white;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    -moz-transition: transform 300ms ease, -moz-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease, -moz-transform 300ms ease; }
  .authorization__toggle.active::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
       -moz-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg); }

.authorization__list {
  display: none;
  position: absolute;
  z-index: 9;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 5px;
  background-color: #4ec673;
  overflow: hidden; }

.authorization__link {
  position: relative;
  display: block;
  padding: 8px 12px 8px 45px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  transition: background-color 300ms ease; }
  .authorization__link:hover, .authorization__link:active, .authorization__link:focus {
    color: #fff;
    background-color: #6fde91;
    text-decoration: none; }

.authorization__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 10px;
  top: 7px; }
  .authorization__icon svg {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    fill: #fff; }
  .authorization__icon img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%; }

.base-checkbox {
  position: relative;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center; }

.base-checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0; }

.base-checkbox__label {
  display: block;
  width: 100%;
  position: relative;
  padding-left: 33px;
  text-align: left;
  cursor: pointer; }
  .base-checkbox__label::before {
    content: '';
    position: absolute;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 16px;
    height: 16px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-40%);
       -moz-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
            transform: translateY(-40%);
    border: 1px solid #848f9b;
    background-color: #fff;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    transition: background-color 300ms ease; }
  .base-checkbox__label::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-40%);
       -moz-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
            transform: translateY(-40%);
    background-image: url("../images/layout/checked-black.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 8px;
    opacity: 0;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    transition: opacity 300ms ease; }

.base-checkbox__input:checked + .base-checkbox__label::before {
  background-color: #fed63f; }

.base-checkbox__input:checked + .base-checkbox__label::after {
  opacity: 1; }

.base-checkbox__errors {
  display: none;
  position: relative;
  margin-top: 5px;
  font-size: 14px;
  color: #f52f4b; }

@media (max-width: 480px) {
  .base-checkbox {
    font-size: 12px; }
  .base-checkbox__label {
    min-width: 45px;
    padding: 7px 12px;
    padding-left: 27px; } }

.base-input {
  position: relative;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  -webkit-tap-highlight-color: transparent; }
  .base-input.no-label .base-input__label {
    display: none; }

.base-input__input {
  width: 100%;
  padding: 9px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #d2d2d2;
  -webkit-transition: border-color 300ms ease;
  -moz-transition: border-color 300ms ease;
  transition: border-color 300ms ease; }
  .base-input__input:focus {
    border-bottom-color: #fed63f; }
    .base-input__input:focus ~ .base-input__label {
      -webkit-transform: scale(0.5) translateY(-200%);
         -moz-transform: scale(0.5) translateY(-200%);
          -ms-transform: scale(0.5) translateY(-200%);
              transform: scale(0.5) translateY(-200%);
      color: #000;
      left: 0; }
  .base-input__input.hasValue ~ .base-input__label {
    -webkit-transform: scale(0.5) translateY(-200%);
       -moz-transform: scale(0.5) translateY(-200%);
        -ms-transform: scale(0.5) translateY(-200%);
            transform: scale(0.5) translateY(-200%);
    color: #000;
    left: 0; }
  .base-input__input::-webkit-input-placeholder {
    color: #a5a5a5; }
  .base-input__input::-moz-placeholder {
    color: #a5a5a5; }
  .base-input__input:-ms-input-placeholder {
    color: #a5a5a5; }
  .base-input__input::-ms-input-placeholder {
    color: #a5a5a5; }
  .base-input__input::placeholder {
    color: #a5a5a5; }
  .base-input__input:disabled {
    background-color: #fff;
    opacity: 0.5; }
  .base-input__input::-webkit-outer-spin-button, .base-input__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .base-input__input[type='number'] {
    -moz-appearance: textfield; }

.base-input__label {
  position: absolute;
  left: 0;
  top: 12px;
  font-size: 16px;
  color: #a5a5a5;
  -webkit-transition: color 200ms ease, -webkit-transform 200ms ease;
  transition: color 200ms ease, -webkit-transform 200ms ease;
  -moz-transition: transform 200ms ease, color 200ms ease, -moz-transform 200ms ease;
  transition: transform 200ms ease, color 200ms ease;
  transition: transform 200ms ease, color 200ms ease, -webkit-transform 200ms ease, -moz-transform 200ms ease;
  -webkit-transform-origin: left center;
     -moz-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  pointer-events: none; }
  .base-input__label.js-focus {
    -webkit-transform: scale(0.5) translateY(-200%);
       -moz-transform: scale(0.5) translateY(-200%);
        -ms-transform: scale(0.5) translateY(-200%);
            transform: scale(0.5) translateY(-200%);
    color: #000;
    left: 0; }

.base-input.has-error .base-input__input {
  border-bottom-color: #f52f4b; }

.base-input.has-error .base-input__label {
  color: #f52f4b; }

.base-input__errors {
  display: none;
  position: relative;
  margin-top: 5px;
  font-size: 14px;
  color: #f52f4b; }
  .base-input__errors.has-error {
    display: block; }

.base-radio {
  position: relative;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: center; }

.base-radio__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0; }

.base-radio__label {
  display: block;
  position: relative;
  padding: 10px 22px;
  min-width: 72px;
  border-radius: 4px;
  border: 1px solid #3c7bd8;
  background-color: #a5a5a5;
  cursor: pointer;
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  -moz-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease; }

.base-radio__input:checked + .base-radio__label {
  background-color: #3c7bd8;
  color: #a5a5a5; }

.base-radio__errors {
  display: none;
  position: relative;
  margin-top: 5px;
  font-size: 14px;
  color: #f52f4b; }

@media (max-width: 480px) {
  .base-radio {
    font-size: 12px; }
  .base-radio__label {
    min-width: 45px;
    padding: 7px 12px; } }

.base-select {
  position: relative;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  -webkit-tap-highlight-color: transparent; }
  .base-select::after {
    content: '';
    position: absolute;
    right: 17px;
    top: 50%;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: translateY(-50%) rotate(45deg);
       -moz-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    -moz-transition: transform 300ms ease, -moz-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease, -moz-transform 300ms ease; }
  .base-select.active::after {
    -webkit-transform: translateY(-50%) rotate(225deg);
       -moz-transform: translateY(-50%) rotate(225deg);
        -ms-transform: translateY(-50%) rotate(225deg);
            transform: translateY(-50%) rotate(225deg); }

.base-select__input {
  position: relative;
  width: 100%;
  padding: 9px 0;
  padding-right: 35px;
  border: none;
  outline: none;
  border-bottom: 1px solid #9b9b9b;
  cursor: pointer;
  -webkit-transition: border-color 300ms ease;
  -moz-transition: border-color 300ms ease;
  transition: border-color 300ms ease; }
  .base-select__input:focus {
    border-bottom-color: #fed63f; }
    .base-select__input:focus + .base-select__label {
      -webkit-transform: scale(0.5) translateY(-200%);
         -moz-transform: scale(0.5) translateY(-200%);
          -ms-transform: scale(0.5) translateY(-200%);
              transform: scale(0.5) translateY(-200%);
      color: #000;
      left: 0; }
  .base-select__input.hasValue + .base-select__label {
    -webkit-transform: scale(0.5) translateY(-200%);
       -moz-transform: scale(0.5) translateY(-200%);
        -ms-transform: scale(0.5) translateY(-200%);
            transform: scale(0.5) translateY(-200%);
    color: #000;
    left: 0; }

.base-select__label {
  position: absolute;
  left: 0;
  top: 12px;
  font-size: 24px;
  color: #d7d7d8;
  -webkit-transition: color 200ms ease, -webkit-transform 200ms ease;
  transition: color 200ms ease, -webkit-transform 200ms ease;
  -moz-transition: transform 200ms ease, color 200ms ease, -moz-transform 200ms ease;
  transition: transform 200ms ease, color 200ms ease;
  transition: transform 200ms ease, color 200ms ease, -webkit-transform 200ms ease, -moz-transform 200ms ease;
  -webkit-transform-origin: left center;
     -moz-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  pointer-events: none; }

.base-select__errors {
  display: none;
  position: relative;
  margin-top: 5px;
  font-size: 14px;
  color: #f52f4b; }

.base-select__options-list {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2; }

.base-select__options-item {
  position: relative;
  z-index: 2;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  -moz-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease; }
  .base-select__options-item:hover, .base-select__options-item:active, .base-select__options-item:focus {
    color: #fed63f;
    background-color: rgba(245, 247, 249, 0.2); }

@media (max-width: 1240px) {
  .base-select__label {
    top: 22px;
    font-size: 18px; } }

@media (max-width: 480px) {
  .base-select {
    font-size: 16px; }
  .base-select__input {
    padding: 4px;
    padding-right: 35px; }
    .base-select__input:focus + .base-select__label {
      -webkit-transform: scale(0.7) translateY(-150%);
         -moz-transform: scale(0.7) translateY(-150%);
          -ms-transform: scale(0.7) translateY(-150%);
              transform: scale(0.7) translateY(-150%); }
    .base-select__input.hasValue + .base-select__label {
      -webkit-transform: scale(0.7) translateY(-150%);
         -moz-transform: scale(0.7) translateY(-150%);
          -ms-transform: scale(0.7) translateY(-150%);
              transform: scale(0.7) translateY(-150%); }
  .base-select__label {
    top: 4px;
    font-size: 16px; }
  .base-select__errors {
    font-size: 12px; } }

.btn {
  padding: 13px 32px 12px;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  background-color: #fed63f;
  border: 1px solid #fed63f;
  border-radius: 8px;
  outline: none;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  transition: opacity 300ms ease; }
  .btn:hover, .btn:active, .btn:focus {
    opacity: 0.6;
    text-decoration: none; }
  .btn--transparent {
    color: #fed63f;
    background-color: transparent; }
  .btn--small {
    padding: 7px 24px 6px;
    font-size: 16px; }

@media (min-width: 1280px) {
  .btn {
    font-size: 21px; }
    .btn--small {
      font-size: 16px; } }

.footer-nav__list {
  padding: 0;
  margin: 0 0 35px;
  list-style: none; }

.footer-nav__item {
  margin-bottom: 15px; }

.footer-nav__link {
  display: block;
  font-size: 16px;
  color: #a5a5a5;
  text-decoration: none;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  transition: color 300ms ease; }
  .footer-nav__link:hover, .footer-nav__link:active, .footer-nav__link:focus {
    color: #fed63f;
    text-decoration: none; }
  .footer-nav__link--highlight {
    color: #000;
    font-weight: 500; }

@media (min-width: 1024px) {
  .footer-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-nav__list {
      -webkit-box-flex: 1;
         -moz-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      padding-right: 25px; } }

@media (min-width: 1280px) {
  .footer-nav__list {
    padding-right: 50px; } }

.hamburger {
  position: relative;
  width: 18px; }
  .hamburger:hover {
    cursor: pointer; }

.hamburger__line {
  width: 100%;
  height: 1px;
  background-color: var(--theme-text-color);
  color: var(--theme-text-color);
  display: block;
  margin: 0 auto 4px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease; }
  .hamburger__line:last-child {
    margin-bottom: 0; }

.hamburger.active .hamburger__line:nth-child(2) {
  opacity: 0; }

.hamburger.active .hamburger__line:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
     -moz-transform: translateY(7px) rotate(45deg);
      -ms-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg); }

.hamburger.active .hamburger__line:nth-child(3) {
  -webkit-transform: translateY(-3px) rotate(-45deg);
     -moz-transform: translateY(-3px) rotate(-45deg);
      -ms-transform: translateY(-3px) rotate(-45deg);
          transform: translateY(-3px) rotate(-45deg); }

.index-slider {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 100%; }
  .index-slider .slick-list,
  .index-slider .slick-track {
    width: 100%;
    height: 100%; }
  .index-slider .slick-arrow {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 35px;
    height: 35px;
    -webkit-transform: translateY(-50%) rotate(-45deg);
       -moz-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fed63f;
    font-size: 0; }
    .index-slider .slick-arrow.slick-prev {
      display: none !important;
      -webkit-transform: translateY(-50%) rotate(135deg);
         -moz-transform: translateY(-50%) rotate(135deg);
          -ms-transform: translateY(-50%) rotate(135deg);
              transform: translateY(-50%) rotate(135deg); }
    .index-slider .slick-arrow.slick-next {
      left: auto;
      right: 28px; }
  .index-slider__slide {
    position: relative; }
  .index-slider__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
    .index-slider__image::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000); }
    .index-slider__image img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .index-slider__content {
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 20px 35px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .index-slider__title {
    position: relative;
    margin: 0 0 35px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400; }
    .index-slider__title::after {
      content: '';
      position: absolute;
      width: 50%;
      height: 1px;
      left: -35px;
      bottom: -14px;
      background-color: #fed63f; }
  .index-slider__price-value {
    margin-bottom: 4px;
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    line-height: 1; }
  .index-slider__price-label {
    margin-bottom: 20px;
    color: #fff;
    font-size: 14px; }
  .index-slider__link {
    position: relative;
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 14px;
    color: #fed63f;
    text-decoration: none;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    transition: opacity 300ms ease; }
    .index-slider__link:hover, .index-slider__link:active, .index-slider__link:focus {
      color: #fed63f;
      opacity: 0.6;
      text-decoration: none; }
    .index-slider__link::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -5px;
      background-color: #fed63f; }

@media (min-width: 768px) {
  .index-slider .slick-arrow.slick-prev {
    display: block !important;
    left: 28px; } }

@media (min-width: 1280px) {
  .index-slider .slick-arrow.slick-prev {
    left: -50px; }
  .index-slider .slick-arrow.slick-next {
    right: -50px; } }

.index-top {
  background-image: url(../images/index-top/bg.jpg);
  background-size: cover; }
  .index-top__wrapper {
    margin-bottom: -200px; }
  .index-top__title {
    position: relative;
    top: -6px;
    margin: 0 0 34px;
    font-size: 28px;
    font-weight: 600;
    color: #fff; }
  .index-top__advantages {
    padding: 0;
    margin: 0 0 40px;
    list-style: none; }
  .index-top__advantages-item {
    margin-bottom: 20px; }
    .index-top__advantages-item:last-child {
      margin-bottom: 0; }
    .index-top__advantages-item .title {
      display: block;
      font-size: 28px;
      font-weight: 600;
      color: #fed63f; }
    .index-top__advantages-item .value {
      display: block;
      font-size: 14px;
      color: #fff; }
  .index-top__link {
    margin-bottom: 40px;
    max-width: 290px; }
  .index-top__slider {
    height: 480px;
    width: 300px;
    margin-right: -20px; }

@media (min-width: 1280px) {
  .index-top__wrapper {
    padding-top: 115px;
    display: grid;
    grid-template-areas: 'title title advantages' 'slider link advantages' 'slider . advantages';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    margin-bottom: -375px; }
  .index-top__title {
    position: relative;
    z-index: 10;
    top: -15px;
    grid-area: title;
    font-size: 50px;
    text-align: right; }
  .index-top__advantages {
    grid-area: advantages;
    padding-left: 50px; }
  .index-top__link {
    grid-area: link;
    width: 290px;
    align-self: start;
    justify-self: end; }
  .index-top__slider {
    position: relative;
    z-index: 0;
    top: -150px;
    width: 400px;
    height: 690px; } }

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1240px;
  padding: 0 20px; }

.lines {
  position: absolute;
  z-index: 9;
  width: 100%;
  max-width: 1240px;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  pointer-events: none; }
  .lines::before, .lines::after {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: rgba(145, 145, 145, 0.2); }
  .lines::after {
    left: auto;
    right: 20px; }

@media (min-width: 1280px) {
  .lines .line {
    position: absolute;
    width: 400px;
    height: 100%;
    left: 420px; }
    .lines .line::before, .lines .line::after {
      content: '';
      position: absolute;
      left: 0px;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: rgba(145, 145, 145, 0.2); }
    .lines .line::after {
      left: auto;
      right: 0; } }

.main-footer {
  position: relative; }
  .main-footer__inner {
    padding-top: 45px;
    padding-bottom: 45px; }
  .main-footer__title {
    margin: 0 0 10px;
    font-size: 16px;
    color: #000;
    font-weight: 500; }
  .main-footer__appeal {
    margin-bottom: 25px; }
  .main-footer__appeal-block {
    margin-bottom: 10px; }
  .main-footer__appeal-tip {
    margin: 0;
    padding-top: 7px;
    font-size: 10px; }
  .main-footer__appeal-input {
    width: 80%; }
  .main-footer__socials-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .main-footer__socials-item {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #a5a5a5; }
  .main-footer__socials-link {
    position: relative;
    display: block; }
    .main-footer__socials-link svg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }

@media (min-width: 768px) {
  .main-footer .grid .line, .main-footer .grid::after {
    display: none; }
  .main-footer__inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .main-footer__col {
    width: 50%; }
    .main-footer__col:last-child {
      padding-left: 50px; } }

@media (min-width: 1024px) {
  .main-footer__inner {
    padding-top: 40px;
    padding-bottom: 35px; }
  .main-footer__col {
    width: 63%; }
    .main-footer__col:last-child {
      width: 37%;
      padding-left: 25px; }
  .main-footer__appeal-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .main-footer__appeal-block {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 0;
    margin-right: 20px; }
  .main-footer__appeal-input {
    width: 100%; }
  .main-footer__appeal-submit {
    -webkit-box-flex: 0;
       -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; } }

@media (min-width: 1280px) {
  .main-footer__col:last-child {
    padding-left: 50px; } }

.main-header {
  height: 75px;
  border-bottom: 1px solid rgba(145, 145, 145, 0.2);
  background-color: var(--theme-background-color);
  color: var(--theme-text-color); }
  .main-header__inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 20px;
    max-width: 1400px;
    margin: 0 auto; }
  .main-header__logo {
    display: block;
    width: 54px;
    margin-bottom: 10px; }
    .main-header__logo img {
      display: block;
      width: 100%;
      height: auto; }
  .main-header__phone {
    margin-left: auto;
    margin-right: 20px;
    font-size: 13px;
    line-height: 1.5;
    white-space: nowrap;
    color: var(--theme-text-color);
    text-decoration: none;
    -webkit-transition: color 300ms ease;
    -moz-transition: color 300ms ease;
    transition: color 300ms ease; }
    .main-header__phone:hover, .main-header__phone:active, .main-header__phone:focus {
      color: #fed63f; }
  .main-header__navigation {
    position: fixed;
    top: 100px;
    z-index: 100;
    top: 75px;
    width: 100%;
    height: 100%;
    padding-bottom: 120px;
    left: 0;
    background-color: var(--theme-background-color);
    overflow-y: auto;
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    -moz-transition: transform 300ms ease, -moz-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease, -moz-transform 300ms ease; }
    .main-header__navigation.active {
      -webkit-transform: translateX(0);
         -moz-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); }
  .main-header__authorization--desktop {
    display: none; }
  .main-header__authorization--mobile {
    position: relative;
    width: 100%;
    margin-top: 65px; }
    .main-header__authorization--mobile .authorization {
      position: absolute;
      right: 20px; }
  .main-header__hamburger {
    padding-bottom: 5px; }

@media (min-width: 1024px) {
  .main-header__logo {
    width: 88px;
    margin-bottom: 8px; }
  .main-header__inner {
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-header__hamburger {
    display: none; }
  .main-header__phone {
    margin-left: 0;
    margin-right: 40px; }
  .main-header__navigation {
    position: static;
    width: auto;
    padding: 0;
    margin: 0;
    height: auto;
    margin-left: auto;
    margin-right: 40px;
    overflow: initial;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
            transform: none; }
  .main-header__authorization--desktop {
    display: block; }
  .main-header__authorization--mobile {
    display: none; } }

@media (min-width: 1280px) {
  .main-header__phone {
    margin-right: 60px; }
  .main-header__navigation {
    margin-right: 60px; } }

.main-nav {
  background-color: var(--theme-background-color); }
  .main-nav__list {
    padding: 32px 24px;
    margin: 0;
    list-style: none; }
  .main-nav__item {
    margin-bottom: 16px; }
  .main-nav__link, .main-nav__sublink {
    display: inline-block;
    font-size: 13px;
    color: var(--theme-text-color);
    text-decoration: none;
    -webkit-transition: color 300ms ease;
    -moz-transition: color 300ms ease;
    transition: color 300ms ease; }
    .main-nav__link:hover, .main-nav__link:active, .main-nav__link:focus, .main-nav__sublink:hover, .main-nav__sublink:active, .main-nav__sublink:focus {
      color: #fed63f; }
  .main-nav__link {
    position: relative; }
    .main-nav__link.has-subnav::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      right: -15px;
      top: 50%;
      -webkit-transform: translateY(-75%) rotate(45deg);
         -moz-transform: translateY(-75%) rotate(45deg);
          -ms-transform: translateY(-75%) rotate(45deg);
              transform: translateY(-75%) rotate(45deg);
      border-width: 0 1px 1px 0;
      border-style: solid;
      border-color: #fed63f; }
  .main-nav__subnav {
    display: none; }
  .main-nav__sublist {
    margin: 0;
    list-style: none;
    padding: 16px 0 8px 26px; }
  .main-nav__subitem {
    margin-bottom: 16px; }
    .main-nav__subitem:last-child {
      margin-bottom: 0; }
  .main-nav__sublink {
    font-weight: 300; }

@media (min-width: 1024px) {
  .main-nav__list {
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-nav__item {
    position: relative;
    margin-bottom: 0;
    margin-right: 15px; }
    .main-nav__item:last-child {
      margin-right: 0; }
    .main-nav__item:hover .main-nav__subnav {
      opacity: 1;
      pointer-events: all; }
  .main-nav__link.has-subnav {
    padding-right: 15px; }
    .main-nav__link.has-subnav::after {
      right: 3px; }
  .main-nav__subnav {
    position: absolute;
    display: block;
    width: 100%;
    min-width: 200px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    transition: opacity 300ms ease; }
  .main-nav__sublist {
    padding-left: 0; } }

@media (min-width: 1280px) {
  .main-nav__item {
    margin-right: 30px; }
  .main-nav__link.has-subnav::after {
    right: 0px; } }

.profit-calc {
  padding-top: 220px;
  background-color: #fff;
  overflow: hidden;
  max-width: 375px;
  margin: 0 auto; }
  .profit-calc__text {
    position: relative;
    padding-left: 115px;
    margin-bottom: 95px;
    font-size: 14px;
    line-height: 1.55; }
    .profit-calc__text p {
      margin: 0; }
    .profit-calc__text a {
      position: relative;
      display: inline-block;
      color: #fed63f;
      text-decoration: none;
      -webkit-transition: opacity 300ms ease;
      -moz-transition: opacity 300ms ease;
      transition: opacity 300ms ease; }
      .profit-calc__text a:hover, .profit-calc__text a:active, .profit-calc__text a:focus {
        color: #fed63f;
        text-decoration: none;
        opacity: 0.6; }
      .profit-calc__text a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -2px;
        background-color: currentColor; }
  .profit-calc__ruble-icon {
    position: absolute;
    width: 96px;
    height: 120px;
    left: 0;
    top: 6px; }
    .profit-calc__ruble-icon svg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      fill: none;
      stroke: #b9b9b9; }
  .profit-calc__title {
    margin-bottom: 15px; }
  .profit-calc__investment {
    position: relative;
    width: -webkit-calc(100% + 20px);
    width: -moz-calc(100% + 20px);
    width: calc(100% + 20px);
    margin-left: -20px;
    height: 100px; }
  .profit-calc__investment-range {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0; }
    .profit-calc__investment-range.noUi-target {
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      border-radius: 0; }
    .profit-calc__investment-range .noUi-connects {
      border-radius: 0; }
    .profit-calc__investment-range .noUi-connect {
      background-color: rgba(254, 214, 63, 0.2); }
    .profit-calc__investment-range .noUi-origin {
      height: 100%; }
    .profit-calc__investment-range .noUi-connect.transition,
    .profit-calc__investment-range .noUi-origin.transition {
      -webkit-transition: -webkit-transform 300ms ease;
      transition: -webkit-transform 300ms ease;
      -moz-transition: transform 300ms ease, -moz-transform 300ms ease;
      transition: transform 300ms ease;
      transition: transform 300ms ease, -webkit-transform 300ms ease, -moz-transform 300ms ease; }
    .profit-calc__investment-range .noUi-handle {
      top: 0;
      width: 74px;
      right: -37px;
      height: 100%;
      background: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      border: none;
      outline: none; }
      .profit-calc__investment-range .noUi-handle::before, .profit-calc__investment-range .noUi-handle::after {
        width: 0;
        height: 0;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-right: 16px solid #fed63f;
        background: none; }
      .profit-calc__investment-range .noUi-handle::after {
        right: 0;
        left: auto;
        -webkit-transform: translateY(-50%) rotate(180deg);
           -moz-transform: translateY(-50%) rotate(180deg);
            -ms-transform: translateY(-50%) rotate(180deg);
                transform: translateY(-50%) rotate(180deg); }
    .profit-calc__investment-range .noUi-touch-area {
      position: relative;
      width: 100%;
      height: 100%; }
      .profit-calc__investment-range .noUi-touch-area::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        left: 50%;
        background-color: #fed63f; }
  .profit-calc__investment-data {
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .profit-calc__investment-label {
    font-size: 14px;
    line-height: 1.6; }
  .profit-calc__investment-value {
    font-size: 28px;
    font-weight: 600;
    line-height: 1; }
  .profit-calc__objects {
    position: relative;
    width: -webkit-calc(100% + 40px);
    width: -moz-calc(100% + 40px);
    width: calc(100% + 40px);
    margin-left: -20px;
    height: 506px;
    overflow: hidden; }
  .profit-calc__income-range {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 44px;
    bottom: 115px; }
    .profit-calc__income-range.noUi-target {
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      border-radius: 0; }
    .profit-calc__income-range .noUi-connects {
      border-radius: 0; }
    .profit-calc__income-range .noUi-connect {
      background-color: transparent; }
    .profit-calc__income-range .noUi-origin {
      height: 100%; }
    .profit-calc__income-range .noUi-connect.transition,
    .profit-calc__income-range .noUi-origin.transition {
      -webkit-transition: -webkit-transform 300ms ease;
      transition: -webkit-transform 300ms ease;
      -moz-transition: transform 300ms ease, -moz-transform 300ms ease;
      transition: transform 300ms ease;
      transition: transform 300ms ease, -webkit-transform 300ms ease, -moz-transform 300ms ease; }
    .profit-calc__income-range .noUi-handle {
      top: 0;
      width: 74px;
      right: -37px;
      height: 100%;
      background: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      border: none;
      outline: none; }
      .profit-calc__income-range .noUi-handle::before, .profit-calc__income-range .noUi-handle::after {
        width: 0;
        height: 0;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-right: 16px solid #fed63f;
        background: none; }
      .profit-calc__income-range .noUi-handle::after {
        right: 0;
        left: auto;
        -webkit-transform: translateY(-50%) rotate(180deg);
           -moz-transform: translateY(-50%) rotate(180deg);
            -ms-transform: translateY(-50%) rotate(180deg);
                transform: translateY(-50%) rotate(180deg); }
    .profit-calc__income-range .noUi-touch-area {
      position: relative;
      width: 100%;
      height: 100%; }
      .profit-calc__income-range .noUi-touch-area::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        left: 50%;
        background-color: #fed63f; }
  .profit-calc__objects-nav {
    position: absolute;
    width: 100%;
    z-index: 2; }
    .profit-calc__objects-nav::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 20px;
      background-color: rgba(145, 145, 145, 0.2); }
    .profit-calc__objects-nav .slick-slide {
      height: 44px;
      padding-left: 20px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #fff;
      opacity: 0.3;
      -webkit-transition: opacity 300ms ease;
      -moz-transition: opacity 300ms ease;
      transition: opacity 300ms ease;
      outline: none; }
      .profit-calc__objects-nav .slick-slide.slick-current {
        opacity: 1; }
  .profit-calc__objects-slider {
    height: 100%; }
    .profit-calc__objects-slider .slick-list,
    .profit-calc__objects-slider .slick-track,
    .profit-calc__objects-slider .slick-slide {
      height: 100%; }

@media (min-width: 768px) {
  .profit-calc {
    padding-top: 85px; }
    .profit-calc__wrapper {
      display: grid;
      grid-template-areas: '. . text' 'title objects objects' 'investment objects objects';
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto -webkit-max-content auto;
      grid-template-rows: auto max-content auto; }
    .profit-calc__text {
      grid-area: text; }
    .profit-calc__title {
      grid-area: title;
      align-self: start; }
    .profit-calc__investment {
      grid-area: investment;
      height: 100%; }
    .profit-calc__objects {
      grid-area: objects; } }

.profit-object {
  position: relative;
  padding: 60px 20px 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  color: #fff; }
  .profit-object__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
    .profit-object__image img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .profit-object__image::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.3)));
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)); }
  .profit-object__content {
    position: relative;
    z-index: 2;
    margin: auto 0; }
  .profit-object__title {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 40; }
  .profit-object__data-row {
    margin-bottom: 16px; }
    .profit-object__data-row:last-child {
      margin-bottom: 0; }
  .profit-object__data-value {
    margin: 0 0 5px;
    font-size: 28px;
    font-weight: 600; }
  .profit-object__data-label {
    font-size: 14px; }
  .profit-object__footer {
    position: relative;
    z-index: 2;
    height: 115px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .profit-object__footer::before {
      content: '';
      position: absolute;
      width: -webkit-calc(100% + 40px);
      width: -moz-calc(100% + 40px);
      width: calc(100% + 40px);
      height: 1px;
      left: -20px;
      top: 0;
      background-color: rgba(145, 145, 145, 0.2); }
  .profit-object__name {
    margin: 0 0 10px;
    font-size: 25px;
    font-weight: 600; }
  .profit-object__link {
    display: inline-block;
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: #fed63f;
    text-decoration: none;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    transition: opacity 300ms ease; }
    .profit-object__link::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -3px;
      background-color: #fed63f; }
    .profit-object__link:hover, .profit-object__link:active, .profit-object__link:focus {
      opacity: 0.6;
      text-decoration: none; }

.title {
  position: relative;
  display: inline-block;
  margin: 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2; }
  .title--main {
    font-size: 32px; }
  .title--small {
    font-size: 20px; }
  .title.light {
    color: #fff; }

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  --theme-background-color: #fff;
  --theme-text-color: #000; }
  body.menu-opened, body.modal-opened {
    overflow: hidden; }
  body[dark-theme] {
    --theme-background-color: #202020;
    --theme-text-color: #fff; }

.page {
  position: relative; }

/*# sourceMappingURL=main.css.map */
