mixin partners-income()
    +b.SECTION.partners-income
        +inner
            +e.wrapper
                +e.title
                    +title
                        | Получайте <br>доход
                    +e.step 3
                +e.total
                    +e.total-value 2 275 000 ₽
                    +e.tatal-label Совокупный размер премии парнеров за 2019 год
                +e.options-title
                    | Расчет<br>премии
                    span.highlight =₽
                +e.options
                    +e.data.smi
                        +e.option-label Для СМИ и блогеров
                        +e.option-title Реферальный партнер
                    +e.advantages.smi
                        +e.advantage
                            +e.advantage-label Первая сделка
                            +e.advantage-value 1% <span class='divider'></span> 1,5%
                            +e.advantage-desc При совокупном объеме продаж за квартал до 10 млн и больше 10 млн руб.
                        +e.advantage
                            +e.advantage-label Повторная продажа
                            +e.advantage-value.huge 0,5%
                            +e.advantage-desc от суммы при всех повторных сделках (в&nbsp;течение&nbsp;12&nbsp;месяцев)
                    +e.data.sales
                        +e.option-label Для продавцов
                        +e.option-title Сертифици­&shy;рованный ID партнер
                    +e.advantages.sales
                        +e.advantage
                            +e.advantage-label Первая сделка
                            +e.advantage-value 1%
                            +e.advantage-desc При любой сделке от&nbsp;1&nbsp;млн&nbsp;руб.
                        +e.advantage
                            +e.advantage-label Повторная продажа
                            +e.advantage-value.huge.translate —