.main-nav {
    // background-color: var(--theme-background-color);

    &__list {
        padding: 32px 24px;
        margin: 0;
        list-style: none;
    }

    &__item {
        margin-bottom: 16px;
    }

    &__link,
    &__sublink {
        display: inline-block;

        font-size: 13px;
        color: var(--theme-text-color);
        text-decoration: none;

        transition: color 300ms ease;

        &:hover,
        &:active,
        &:focus {
            color: $theme-color;
        }
    }

    &__link {
        position: relative;

        &.has-subnav {
            &::after {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                right: -15px;
                top: 50%;

                transform: translateY(-75%) rotate(45deg);

                border-width: 0 1px 1px 0;
                border-style: solid;
                border-color: $theme-color;
            }
        }
    }

    &__subnav {
        display: none;
    }

    &__sublist {
        margin: 0;
        list-style: none;
        padding: 16px 0 8px 26px;
    }

    &__subitem {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__sublink {
        font-weight: 300;
    }
}

@media #{$laptop} {
    .main-nav {
        $this: &;
        &__list {
            padding: 0;
            display: flex;
            align-items: center;
        }

        &__item {
            position: relative;
            margin-bottom: 0;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                #{$this}__subnav {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }

        &__link {
            &.has-subnav {
                padding-right: 15px;

                &::after {
                    right: 3px;
                }
            }
        }

        &__subnav {
            position: absolute;
            display: block;
            width: 100%;
            min-width: 200px;

            opacity: 0;
            pointer-events: none;

            transition: opacity 300ms ease;
        }

        &__sublist {
            padding-left: 0;
        }
    }
}

@media #{$desktop} {
    .main-nav {
        &__item {
            margin-right: 30px;
        }

        &__link {
            &.has-subnav {
                &::after {
                    right: 0px;
                }
            }
        }
    }
}
