mixin project-decoration()
    +b.project-decoration
        +e.container
            +e.figure
                include ../../../app/images/redesign/project-sale-page/figure1.svg
            +e.figure
                include ../../../app/images/redesign/project-sale-page/figure2.svg
            +e.figure
                include ../../../app/images/redesign/project-sale-page/figure2.svg