mixin object-card(data)
    +b.object-card
        +e.header
            +e.A.link(href='object-page.html')
            +e.image
                img(src='images/redesign/objects/object' + data.id + '.jpg', alt="")
            +e.top
                +e.name= data.name
                +e.address= data.address
            +e.bottom
                +e.rating= data.rating
                if (data.video)
                    +e.A.video(href='#') Видеообзор
                if (data.labels)
                    +e.labels
                        each label in data.labels
                            +e.label(class=label.modifier)= label.text
        +e.data
            +e.TABLE.table
                tr
                    td Стоимость объекта:
                    td
                        span.value= data.price
                tr
                    td Цена за кв. метр: 
                    td
                        span.value 143 799.41 ₽ 
                tr
                    td Доходность в первый год:
                    td
                        span.value 10.4%
                            +e.BUTTON.tooltip(data-tippy-content='Доходность растёт с каждым годом за счет ежегодной индексации на 5% и будет составлять 16.4% в 2027 году. Рассчитано при цене 411 млн руб.') ?
                tr
                    td Доходность за 10 лет: 
                    td
                        span.value 12.8%
                            +e.BUTTON.tooltip(data-tippy-content='Доходность растёт с каждым годом за счет ежегодной индексации на 5% и будет составлять 16.4% в 2027 году. Рассчитано при цене 411 млн руб.') ?
                tr
                    td Окупаемость: 
                    td
                        span.value 7 лет 9 месяцев
                tr
                    td Мин. инвестиции:
                    td
                        span.value 353 694 ₽








 


