.object-card {
    position: relative;
    z-index: 11;

    &__progress {
        width: 100%;
        height: 20px;

        background-color: #fff;
    }

    &__header {
        position: relative;
        width: 100%;

        &::before {
            content: '';
            position: relative;
            display: table;
            padding-top: 72.5%;
        }
    }

    &__link {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;

            background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__play {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-left: 9px;

        border-width: 18px 0 18px 36px;
        border-color: #fed63f;
        border-style: solid;
        border-top-color: transparent;
        border-bottom-color: transparent;

        background-color: transparent;
        outline: none;
    }

    &__top {
        position: absolute;
        top: 15px;
        left: 20px;
        right: 20px;

        color: $text-color-white;
    }

    &__name {
        margin-bottom: 3px;

        font-size: 19px;
        font-weight: 600;
        text-decoration: underline;
    }

    &__address {
        font-size: 10px;
        opacity: 0.5;
    }

    &__bottom {
        position: absolute;
        bottom: 10px;
        left: 20px;
        right: 20px;

        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;

        color: $text-color-white;
        font-size: 14px;
        line-height: 1.5;
    }

    &__rating {
        flex: 0 0 auto;
        margin-right: 15px;

        font-weight: 600;
    }

    &__video {
        position: relative;
        z-index: 2;
        margin-right: 10px;
        padding-left: 18px;

        color: $text-color-white;
        font-weight: 500;
        text-decoration: none;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border-width: 6px 0 6px 10px;
            border-color: $theme-color;
            border-style: solid;
            border-top-color: transparent;
            border-bottom-color: transparent;
        }
    }

    &__labels {
        margin-left: auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
    }

    &__label {
        margin-bottom: 6px;

        font-weight: 500;
        color: $theme-color;
        text-align: right;

        &.green {
            padding: 0 10px;

            color: $text-color-white;
            text-align: center;

            background-color: $green;
            border-radius: 4px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__data {
        padding: 10px 20px 20px;

        background-color: #fff;
    }

    &__table {
        width: 100%;
        table-layout: fixed;

        tr {
            vertical-align: baseline;
        }

        td {
            padding: 6px 0;

            font-size: 12px;

            &:first-child {
                width: 65%;
                padding-right: 10px;
            }

            small {
                display: block;

                font-size: 10px;
                color: #4a4a4a;
            }

            .value {
                display: inline;
                position: relative;
                font-weight: 500;
                text-decoration: none;
            }

            img {
                display: block;
                max-width: 100%;
            }

            &[colspan='2'] {
                padding-top: 36px;
                text-align: left;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    top: 16px;
                    left: 0;

                    background-color: #ddd;
                }
            }
        }
    }

    &__tooltip {
        @include btn-reset;
        position: absolute;
        width: 10px;
        height: 10px;
        right: -12px;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 7px;
        line-height: 1;

        background-color: $theme-color;
        border-radius: 50%;
    }

    &__lock {
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
        margin-left: -2px;

        svg {
            @include svg-icon;

            fill: $theme-color;
        }
    }
}

@media #{$tablet} {
    .object-card {
        width: 295px;
        &__top,
        &__bottom {
            left: 16px;
            right: 16px;
        }

        &__data {
            padding-bottom: 30px;
        }

        &__table {
            td {
                font-size: 10px;
            }
        }
    }
}

@media #{$laptop} {
    .object-card {
        z-index: 1;

        // &__play {
        //     margin-left: 16px;

        //     border-width: 35px 0 35px 70px;
        // }
    }
}

@media #{$desktop} {
    .object-card {
        width: 360px;

        &__top,
        &__bottom {
            left: 24px;
            right: 24px;
        }

        &__data {
            padding: 15px 5px 45px 24px;
        }

        &__table {
            td {
                font-size: 14px;
            }
        }
    }
}
