.lines {
    position: absolute;
    z-index: 9;
    width: 100%;
    max-width: 1160px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;

    pointer-events: none;

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 20px;
        top: 0;
        height: 100%;
        width: 1px;

        background-color: rgba(#919191, 0.2);
    }

    &::after {
        left: auto;
        right: 20px;
    }
}

@media #{$tablet} {
    .lines {
        &::before {
            left: 34px;
        }

        &::after {
            right: 34px;
        }

        &.small-right {
            &::after {
                opacity: 0;
            }
        }

        &.two-columns {
            .line {
                width: calc((100% - 68px) * 0.4);
                left: calc((100% - 68px) * 0.6 + 34px);

                &::after {
                    opacity: 0;
                }
            }
        }

        .line {
            position: absolute;
            width: calc((100% - 68px) / 3);
            height: 100%;
            left: calc((100% - 68px) / 3 + 34px);

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 1px;
                background-color: rgba(#919191, 0.2);
            }

            &::after {
                left: auto;
                right: 0;
            }
        }
    }
}

@media #{$desktop} {
    .lines {
        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }

        &.small-right {
            &::after {
                opacity: 1;
            }

            .line {
                width: 400px;
            }
        }

        &.offset-right {
            overflow: hidden;
            &::after {
                right: -40px;
            }
        }

        &.two-columns {
            .line {
                width: 495px;
                left: 665px;
            }
        }

        .line {
            position: absolute;
            width: 360px;
            height: 100%;
            left: 400px;

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0px;
                top: 0;
                height: 100%;
                width: 1px;
                background-color: rgba(#919191, 0.2);
            }

            &::after {
                left: auto;
                right: 0;
            }
        }
    }
}
