mixin account-nav()
    +b.NAV.account-nav
        +e.UL.list
            +e.LI.item
                +e.A.link(href='#') Мониторинг
            +e.LI.item
                +e.A.link.--notify(href='#') Документы
            +e.LI.item
                +e.A.link(href='#') Новости
            +e.LI.item
                +e.A.link.active(href='#') Реквизиты
            +e.LI.item
                +e.A.link.--notify(href='#') Рекомендовать друга

