.account-nav {
    width: calc(100% + 40px);
    margin-left: -20px;

    &.full {
        width: 100%;
        margin: 0;
    }

    &__list {
        padding: 0;
        margin: 0;
        margin-top: -9px;
        list-style: none;
        display: flex;

        border-bottom: 1px solid #ebebeb;

        .slick-list {
            padding-left: 20px;
            padding-bottom: 2px;
            margin-bottom: -2px;
        }
    }

    &__link {
        display: block;
        position: relative;
        padding: 12px 6px 3px;

        font-size: 12px;
        white-space: nowrap;
        color: $text-color;
        text-decoration: none;

        transition: color 300ms ease;

        &:hover,
        &:active,
        &:focus {
            color: $theme-color;

            text-decoration: none;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -1px;
            left: 0;

            transform: scaleX(0);

            background-color: $theme-color;

            transition: transform 300ms ease;
        }

        &.active {
            font-weight: 600;
        }

        &.active {
            &::after {
                transform: scaleX(1);
            }
        }

        &--notify {
            &::after {
                content: '!';
                position: absolute;
                top: 5px;
                right: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 9px;
                height: 9px;

                color: $text-color;
                line-height: 1;
                font-size: 7px;
                font-weight: 700;

                background-color: $theme-color;
                border-radius: 50%;
            }
        }
    }
}

@media #{$tablet} {
    .account-nav {
        width: 100%;
        margin: 0;

        &__item {
            flex: 1 1 auto;
        }

        &__link {
            padding: 5px 12px;

            font-size: 14px;
            text-align: center;

            &--notify {
                &::after {
                    right: 8px;
                }
            }
        }
    }
}

@media #{$desktop} {
    .account-nav {
        position: sticky;
        top: 20px;

        &__list {
            display: block;
            border: none;
            margin-top: 0;
        }

        &__item {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__link {
            position: relative;
            display: inline-block;
            padding: 3px 0;

            font-size: 20px;
            text-align: left;

            transition: color 300ms ease;

            &:hover,
            &:active,
            &:focus {
                color: $theme-color;

                text-decoration: none;
            }

            &.active {
                font-weight: 600;

                &::before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    left: -25px;
                    top: 9px;

                    transform: rotate(-45deg);

                    border-width: 0 1px 1px 0;
                    border-style: solid;
                    border-color: $theme-color;
                    background: transparent;
                }
            }

            &--notify {
                &::after {
                    top: 50%;
                    right: -25px;
                    width: 15px;
                    height: 15px;
                    transform: translateY(-35%);

                    font-size: 11px;
                }
            }
        }
    }
}
