mixin howitworks-top()
    +b.SECTION.howitworks-top
        +inner
            +e.wrapper
                +e.title
                    +title('h1') Что такое <br>коллективные <br>инвестиции
                +e.steps
                    +e.step
                        +e.step-letter.--wide(aria-hidden='true') И
                        +e.step-title Инвесторы
                        +e.step-text Инвестируют <br>в объект <br>с помощью Aktivo
                    +e.step
                        +e.step-letter(aria-hidden='true') A
                        +e.step-title Aktivo
                        +e.step-text Покупает объект <br>недвижимости <br>и управляет им
                    +e.step
                        +e.step-letter(aria-hidden='true') О
                        +e.step-title Объекты
                        +e.step-text Приносят <br>ежемесячный <br>доход инвесторам
                +e.subtitle
                    +title('h2', 'small')
                        | Совместное <br>инвестированиев объект <br>недвижимости