mixin investment-steps()
    +b.SECTION.investment-steps
        +inner
            +e.wrapper
                +e.title
                    +title(data-aos="fade-right-full")
                        | Как <br>инвестировать<br> с&nbsp;Aktivo
                +e.UL.list
                    +e.LI.item
                        +e.counter 1
                        +e.content
                            +e.item-title Выберите объект
                            +e.P.item-text Получите полную и достоверную информацию о каждом предлагаемом объекте инвестиций
                    +e.LI.item
                        +e.counter 2
                        +e.content
                            +e.item-title Сделайте покупку
                            +e.P.item-text Определите комфортную сумму, сделайте инвестицию и станьте совладельцем объекта недвижимости
                    +e.LI.item
                        +e.counter 3
                        +e.content
                            +e.item-title Получайте доход
                            +e.P.item-text Пассивный доход от аренды уже со следующего месяца. Отслеживайте состояние ваших активов и дохода онлайн
                +e.appeal
                    +e.P.appeal-text Продажа вашей доли другим инвесторам быстро и просто
                    +e.A.appeal-link(href='#') Оставить заявку