mixin footer-nav()
    +b.NAV.footer-nav
        +e.UL.list
            +e.LI.item
                +e.A.link.--highlight(href='#') Возможности
            +e.LI.item
                +e.A.link(href='#') Инвестировать
            +e.LI.item
                +e.A.link(href='#') Продать
            +e.LI.item
                +e.A.link(href='#') Стать партнером 
            +e.LI.item
                +e.A.link(href='#') Вступить в клуб Liberty
        +e.UL.list
            +e.LI.item
                +e.A.link.--highlight(href='#') Коллективные инвестиции
            +e.LI.item
                +e.A.link(href='#') Как это работает
            +e.LI.item
                +e.A.link(href='#') Безопасность
            +e.LI.item
                +e.A.link(href='#') Ответы на вопросы
        +e.UL.list
            +e.LI.item
                +e.A.link.--highlight(href='#') О компании
            +e.LI.item
                +e.A.link(href='#') Активо
            +e.LI.item
                +e.A.link(href='#') Вакансии
            +e.LI.item
                +e.A.link(href='#') Блог
            +e.LI.item
                +e.A.link(href='#') Контакты