mixin project-structure()
    +b.SECTION.project-structure
        +lines('two-columns')
        +inner
            +e.wrapper
                +e.section
                    +e.title.--main
                        +title
                            | Структура <br>капитала
                    +e.UL.list
                        +e.LI.item
                            +e.item-title Средства AKTIVO
                            +e.P.item-text Команда AKTIVO участвует в каждойсделке, вкладывая до 20% стоимости,и осуществляет коммерческое и эксплуатационное управление объектами.
                        +e.LI.item
                            +e.item-title Краудфандинговые инвестиции
                            +e.P.item-text Созданная нами интернет-платформа и прозрачная технологическая инфраструктура позволяет любым физическим лицам инвестировать от 300 000 рублей.
                        +e.LI.item
                            +e.item-title Институциональные партнеры
                            +e.P.item-text AKTIVO работает с крупными финансовыми организациями, пенсионными фондами и банками, которые также могут участвовать в покупке объекта.
                        +e.LI.item
                            +e.item-title Клубные инвесторы
                            +e.P.item-text Мы сформировали сообщество инвесторов близких к идее и команде AKTIVO и доверяющих нам выбор инвестиционных объектов.
                +e.section
                    +e.title
                        +title 
                            | Наши <br>преимущества
                    +e.UL.advantages-list
                        +e.LI.advantages-item.--plus Знакомство <br>с менеджментом  
                        +e.LI.advantages-item.--copyright Полное юридическое<br> сопровождение
                        +e.LI.advantages-item.--equal Справедливая <br>рыночная оценка
                        +e.LI.advantages-item.--ruble Прозрачная сделка