mixin authorization(logged = false)
    -const loggedIn = logged
    +b.authorization
        if !loggedIn
            +e.actions
                +e.A.action.--main(href='#') Регистрация
                +e.A.action(href='#') Войти
        else
            +e.logged
                +e.A.inner-link.feedback-trigger(href='#' title='Документы')
                    +icon('bubble')
                +e.A.inner-link.__settings(href='./account-page-6.html' title='Настройки')
                    +icon('settings')
                //- +e.A.account(href='#' title='admin@aktivo.ru')
                //-     span admin@aktivo.ru
                +e.A.exit(href='#')
                    +icon('exit')