.authorization {
    &__actions {
        display: flex;
        justify-content: space-between;
    }

    &__action {
        display: block;

        padding-right: 10px;
        position: relative;
        font-size: 13px;
        line-height: 1.5;
        color: var(--theme-text-color);
        text-decoration: none;

        transition: color 300ms ease;

        &:hover,
        &:active,
        &:focus {
            color: $theme-color;
            text-decoration: none;
        }

        &::after {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            right: 0;
            top: 50%;

            transform: translateY(-45%) rotate(-45deg);

            border-width: 0 1px 1px 0;
            border-style: solid;
            border-color: $theme-color;
        }
    }

    &__logged {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__inner-link {
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 8px;

        svg {
            @include svg-icon;

            fill: $text-color-medium;

            transition: fill 300ms ease;
        }

        &:hover {
            svg {
                fill: $theme-color;
            }
        }
    }

    &__account {
        position: relative;
        width: 100px;
        padding: 3px 5px;
        display: block;

        color: var(--theme-text-color);
        font-size: 13px;
        text-decoration: none;

        border: 1px solid $theme-color;
        border-top-width: 0;

        transition: color 300ms ease;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: -8px;
            width: 100%;
            height: 9px;

            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjkiIHZpZXdCb3g9IjAgMCAxMDAgOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSA4TDUwLjc0ODcgMUwxMDAgOCIgc3Ryb2tlPSIjZmVkNjNmIi8+PC9zdmc+);
        }

        span {
            width: 100%;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;

            white-space: nowrap;
        }

        &:hover {
            color: $theme-color;
        }
    }

    &__exit {
        position: relative;
        width: 24px;
        height: 24px;

        &:hover {
            svg {
                fill: $theme-color;
            }
        }

        svg {
            @include svg-icon;

            fill: #9c9c9c;
            transition: fill 300ms ease;
        }
    }
}

@media #{$laptop} {
    .authorization {
        &__inner-link {
            display: none;
        }

        &__action {
            display: none;

            &--main {
                display: block;
            }
        }
    }
}

@media #{$desktop} {
    .authorization {
        &__inner-link {
            display: block;
        }
    }
}

// .authorization__list {
//     display: none;
//     position: absolute;
//     z-index: 9;
//     width: 100%;
//     list-style: none;
//     margin: 0;
//     padding: 5px;

//     background-color: #4ec673;
//     // border-radius: 3px;
//     overflow: hidden;
// }

// .authorization__link {
//     position: relative;
//     display: block;
//     padding: 8px 12px 8px 45px;
//     font-size: 14px;
//     color: #fff;

//     text-decoration: none;

//     transition: background-color 300ms ease;

//     &:hover,
//     &:active,
//     &:focus {
//         color: #fff;
//         background-color: #6fde91;
//         text-decoration: none;
//     }
// }

// .authorization__icon {
//     position: absolute;
//     width: 18px;
//     height: 18px;
//     left: 10px;
//     top: 7px;

//     svg {
//         position: absolute;
//         width: 100%;
//         max-width: 100%;
//         height: auto;
//         max-height: 100%;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);

//         fill: #fff;
//     }

//     img {
//         @include img;
//     }
// }
