.advantages {
    $this: &;
    padding-top: 110px;
    overflow: hidden;

    &__wrapper {
        position: relative;
        visibility: visible !important;

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            width: 200%;
            height: 1px;
            top: 30%;
            left: -50%;

            transform: rotate(-45deg) scaleX(0.5);

            transition: transform 1500ms ease;

            background-color: $theme-color;
        }

        &.aos-animate {
            &::after {
                transform: rotate(-45deg) scaleX(1);
            }
        }
    }

    &__title {
        margin-bottom: 24px;

        overflow: hidden;

        &--bottom {
            margin-bottom: 10px;
        }
    }

    &__appeal {
        margin-top: 20px;
        min-width: 265px;
    }

    &__list {
        &--bottom {
            padding-left: 14px;

            #{$this}__item-text {
                font-size: 14px;
            }
        }
    }

    &__item {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item-title {
        margin: 0 0 12px;

        font-size: 20px;
        font-weight: 600;
    }

    &__item-text {
        margin: 0;

        font-size: 16px;
        line-height: 1.4;
    }

    &__highlight {
        margin: 40px 0 55px;

        font-size: 20px;
        font-weight: 600;
    }

    &__image {
        position: relative;
        z-index: 12;
        margin-bottom: 265px;
        pointer-events: none;
    }

    &__image-positioner {
        position: absolute;
        z-index: 10;
        width: 390px;
        left: -20px;
        top: 0;

        img {
            display: block;
            max-width: 100%;
            max-height: 650px;
        }
    }

    &__item-images {
        display: flex;
        flex-flow: row nowrap;
        margin: 16px -7px 0;
    }

    &__item-image {
        display: flex;
        align-items: center;
        width: 30%;
        margin: 0 7px;
        flex: 1 1 auto;

        img {
            max-width: 100%;
        }
    }
}

@media #{$tablet} {
    .advantages {
        $this: &;

        padding-bottom: 135px;

        &__wrapper {
            display: grid;
            grid-template-columns: repeat(3, 33.33%);
            grid-template-rows: 140px 225px min-content min-content 1fr;
            grid-template-areas:
                'topList highlight topTitle'
                'topList image image'
                'topList bottomTitle bottomList'
                '. appeal bottomList'
                '. . bottomList';

            &::after {
                width: 100%;
                top: 30%;
                left: -35%;
            }
        }

        &__title {
            &--top {
                grid-area: topTitle;
            }

            &--bottom {
                grid-area: bottomTitle;
                align-self: start;
            }
        }

        &__list {
            &--top {
                grid-area: topList;
                padding-right: 20px;
            }

            &--bottom {
                grid-area: bottomList;

                #{$this}__item-text {
                    font-size: 16px;
                }
            }
        }

        &__highlight {
            grid-area: highlight;
            padding-right: 12px;

            font-size: 26px;
            margin: 0;
        }

        &__appeal {
            grid-area: appeal;
            align-self: start;
            justify-self: start;

            &.btn {
                min-width: auto;
                width: 90%;
                padding-left: 12px;
                padding-right: 12px;
            }
        }

        &__image {
            grid-area: image;
            width: 100%;
            margin-bottom: 0;
            top: 40px;
        }

        &__image-positioner {
            width: 100%;
            left: 0;
        }
    }
}

@media (min-width: 925px) {
    .advantages {
        &__wrapper {
            grid-template-rows: 140px 255px min-content min-content 1fr;
        }
    }
}

@media #{$laptop} {
    .advantages {
        $this: &;

        &__wrapper {
            grid-template-rows: 140px 275px min-content min-content 1fr;

            &::after {
                top: 45%;
                left: -40%;
            }
        }

        &__highlight {
            font-size: 30px;
        }

        &__list {
            &--top {
                padding-right: 32px;
            }

            &--bottom {
                padding-left: 32px;
            }
        }

        &__appeal {
            max-width: 265px;
        }
    }
}

@media #{$desktop} {
    .advantages {
        padding-top: 175px;
        &__wrapper {
            grid-template-rows: 140px 320px min-content min-content 1fr;
            grid-template-columns: 400px 360px 400px;

            &::after {
                top: 45%;
                left: -45%;
            }

            &::before {
                content: '';
                position: absolute;
                z-index: 10;
                width: 3px;
                height: calc(100% + 350px);

                background-color: #fff;
                right: -1px;
                top: -175px;
            }
        }

        &__image {
            left: -12px;
        }

        &__title {
            position: relative;
            left: -3px;
        }

        &__highlight {
            font-size: 34px;
        }

        &__list {
            &--top {
                padding-right: 45px;
            }

            &--bottom {
                padding-left: 90px;
            }
        }

        &__appeal {
            margin-top: 32px;
        }
    }
}
