mixin advantages()
    +b.SECTION.advantages
        +inner
            +e.wrapper
                +e.title.--top
                    +title
                        | Инвестируйте <br>с Aktivo
                +e.list.--top
                    +e.item
                        +e.item-title Доходность до 15%
                        +e.P.item-text Средняя доходность выше, чем у большинства классических низкорисковых способов получения пассивного дохода.
                    +e.item
                        +e.item-title Аудит и рейтинг
                        +e.P.item-text Aktivo занимается поиском и тщательным подбором объектов, имеющих качественный пул арендаторов и стабильную долгосрочную доходность.
                    +e.item
                        +e.item-title Безопасность
                        +e.P.item-text Уровень безопасности остается высоким благодаря всесторонней проверке предлагаемых объектов. Деятельность осуществляется в соответствии с Федеральным законодательством и контролируется несколькими регуляторами.
                +e.P.highlight Инвестиции<br>от 300 тыс. руб<br>и выплаты<br>каждый месяц
                +e.title.--bottom
                    +title
                        | Ваши<br> инвестиции<br> защищены
                    +e.BUTTON.appeal.btn Оставить заявку
                +e.image
                    +e.image-positioner
                        +picture-helper({desktop: "images/advantages/umbrella.png", tablet: "images/advantages/umbrella.png", mobile: "images/advantages/umbrella_mobile.png"})
                +e.list.--bottom
                    +e.item
                        +e.item-title Независимоть
                        +e.P.item-text Объекты недвижимости управляются независимой специализированной компанией, это обеспечивает безопасность владения недвижимостью.
                    +e.item
                        +e.item-title Низкие риски
                        +e.P.item-text Вкладывая средства в недвижимость с помощью AKTIVO, вы рискуете меньше, чем индивидуальные инвесторы, но все же разделяете риски владения имуществом. 
                    +e.item
                        +e.item-title Страхование
                        +e.P.item-text Если недвижимость пострадает, вы получите компенсацию равную сумме ваших инвестиций. Партнерами страховых программ AKTIVO выступают «Альфа-страхование», «Ингосстрах», «Сбербанк Страхование».
                        +e.item-images
                            +e.item-image
                                img(src='images/advantages/company1.jpg', alt="")
                            +e.item-image
                                img(src='images/advantages/company2.jpg', alt="")
                            +e.item-image
                                img(src='images/advantages/company3.jpg', alt="")
