.partners-choice {
    padding-top: 25px;

    &__title {
        position: relative;
        padding-left: 75px;
        margin-bottom: 25px;
    }

    &__step {
        position: absolute;
        left: 0;
        top: -20px;

        font-size: 100px;
        color: transparent;
        -webkit-text-stroke: 1px $theme-color;
    }

    &__target {
        position: relative;
        padding-left: 75px;
        margin-bottom: 40px;

        &::before {
            content: '?';
            position: absolute;
            left: 0;
            top: -20px;

            font-size: 100px;
            color: $theme-color;
            font-weight: 700;
        }
    }

    &__target-title {
        margin: 0 0 15px;

        font-size: 18px;
        font-weight: 600;
    }

    &__target-text {
        font-size: 16px;

        p {
            margin: 0 0 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__options {
        max-width: 400px;

        .smi {
            --highlight: #3f76fe;
        }

        .sales {
            --highlight: #fed63f;
        }
    }

    &__data {
        margin-bottom: 16px;
    }

    &__option-label {
        margin: 0 0 10px;

        font-size: 18px;
        color: var(--highlight);
        font-weight: 500;
    }

    &__option-title {
        margin: 0 0 5px;

        font-size: 28px;
        font-weight: 500;
    }

    &__option-text {
        font-size: 16px;
        line-height: 1.4;

        p {
            margin-top: 0;
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__advantages {
        &.smi {
            margin-bottom: 50px;
        }
    }

    &__advantage {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__advantage-label {
        margin-bottom: 8px;

        font-size: 16px;
        color: $text-color-medium;
        font-weight: 600;
    }

    &__advantage-value {
        font-size: 18px;
        color: var(--highlight);
        font-weight: 500;
    }
}

@media #{$tablet} {
    .partners-choice {
        $this: &;
        padding-top: 30px;

        &__wrapper {
            display: grid;
            grid-template-areas:
                '. title target'
                '. options options'
                '. options options';
            grid-template-columns: repeat(3, 33.33%);
            grid-template-rows: repeat(3, auto);
        }

        &__title {
            grid-area: title;
            padding-left: 0;
        }

        &__step {
            display: none;
        }

        &__target {
            grid-area: target;
            margin-bottom: 55px;

            &::before {
                font-size: 110px;
                top: -25px;
            }
        }

        &__options {
            max-width: none;
            grid-area: options;
            display: grid;
            grid-template-areas:
                'smiData salesData'
                'smiAdvantages salesAdvantages';
            grid-template-columns: 1fr 1fr;

            margin-bottom: 0;

            .smi {
                --data_area: smiData;
                --advantages_area: smiAdvantages;
            }

            .sales {
                --data_area: salesData;
                --advantages_area: salesAdvantages;

                #{$this}__advantage-label {
                    visibility: hidden;
                }
            }
        }

        &__option-text {
            padding-right: 20px;
        }

        &__data {
            grid-area: var(--data_area);
            margin-bottom: 45px;
        }

        &__advantages {
            grid-area: var(--advantages_area);
            display: flex;
            flex-flow: column nowrap;

            &.smi {
                margin-bottom: 0;
            }
        }

        &__advantage {
            margin-bottom: 15px;

            &:last-child {
                margin-top: auto;
                margin-bottom: 0;
            }
        }

        &__advantage-label {
            margin-bottom: 16px;
        }

        &__advantage-value {
            font-size: 27px;
        }
    }
}

@media #{$laptop} {
    .partners-choice {
        &__advantage {
            margin-bottom: 35px;
        }
    }
}

@media #{$desktop} {
    .partners-choice {
        overflow: hidden;

        &__wrapper {
            grid-template-columns: 400px 400px 360px;
        }

        &__target {
            margin-bottom: 70px;
            padding-left: 135px;

            &::before {
                font-size: 200px;
                top: -50px;
            }
        }

        &__data {
            margin-bottom: 35px;
        }

        &__options {
            grid-template-columns: 400px 360px;
        }

        &__option-label {
            font-size: 27px;
        }

        &__option-title {
            margin-bottom: 20px;

            font-size: 34px;
            width: 400px;
        }

        &__advantage-label {
            position: relative;
            margin-bottom: 8px;
            padding-bottom: 8px;

            &::after {
                content: '';
                position: absolute;
                width: 1000%;
                height: 1px;
                left: 0;
                bottom: 0;

                background-color: rgba(#919191, 0.2);
            }
        }
    }
}
