mixin liberty-target()
    +b.SECTION.liberty-target
        +inner
            +e.wrapper
                +e.image
                    +e.FIGURE.figure
                        img(src='images/redesign/liberty/ceo.jpg', alt="")
                        +e.FIGCAPTION.figcaption
                            span.name Оскар Хартманн
                            span.post Президент Aktivo
                +e.content
                    +e.title
                        +title('h2', 'light medium')
                            | Для чего создано <br> сообщество liberty?
                    +e.BLOCKQUOTE.blockquote
                        | Aktivo liberty будет объединять успешных владельцев собственного бизнеса и топ-менеджеров, которые планируют обеспечить себе и своей семье финансовую свободу посредством инвестиций в коммерческую недвижимость