@import 'includes/fonts.scss';
@import 'variables.scss';
@import 'includes/normalize.scss';
@import 'sprite.scss';
@import '../blocks/**/*';

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: $font;

    &.menu-opened,
    &.modal-opened {
        overflow: hidden;
    }

    --theme-background-color: #fff;
    --theme-text-color: #000;

    &[theme='dark-theme'] {
        --theme-background-color: #202020;
        --theme-text-color: #fff;
    }
}

.page {
    position: relative;
}

[theme='dark-theme'] .page > .lines {
    top: 75px;
}

.tippy-popper {
    max-width: 270px;
}

.tippy-tooltip {
    padding: 8px 12px;

    color: $text-color;
    font-size: 12px;
    text-align: center;

    background-color: $theme-color;
    border-radius: 8px;
}

.tippy-content {
    padding: 0;
}

.tippy-tooltip[data-placement^='bottom'] > .tippy-svg-arrow {
    top: -6px;
}

.tippy-svg-arrow {
    position: absolute;
    width: 13px;
    height: 6px;

    svg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
