@import 'includes/fonts.scss';
@import 'variables.scss';
@import 'includes/normalize.scss';
@import 'sprite.scss';
@import '../blocks/**/*';

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: $font;

    &.menu-opened,
    &.modal-opened {
        overflow: hidden;
    }

    --theme-background-color: #fff;
    --theme-text-color: #000;

    &[dark-theme] {
        --theme-background-color: #202020;
        --theme-text-color: #fff;
    }
}

.page {
    position: relative;

    > .lines {
        top: 75px;
    }
}
