.account-settings {
    &__title {
        margin-bottom: 24px;
        padding-bottom: 12px;

        font-size: 16px;
        font-weight: 700;
    }

    &__action {
        padding: 0 20px 25px;
        margin-top: 24px;
    }

    &__submit {
        width: 100%;
        min-width: 174px;
        padding: 10px 32px 9px;
        margin-bottom: 12px;

        font-size: 14px;
    }

    &__submit-tip {
        font-size: 12px;
        line-height: 1.2;
        color: $text-color-medium;
        text-align: center;
    }

    &__form {
    }

    &__block {
        margin-bottom: 32px;
    }

    &__subtitle {
        margin-bottom: 20px;

        font-size: 16px;
        font-weight: 600;
    }

    &__input {
        margin-bottom: 20px;
    }

    &__tip {
        margin: 0;
        margin-top: -8px;

        font-size: 10px;
        line-height: 1.5;
    }

    &__subs-checkbox {
        margin-bottom: 10px;
    }
}

@media #{$tablet} {
    .account-settings {
        padding: 0 20px;
    }
}

@media #{$laptop} {
    .account-settings {
        &__title {
            padding: 0;
            margin-bottom: 25px;
            border-bottom: none;

            font-size: 30px;
        }

        &__form {
            position: relative;
            display: flex;
            align-items: flex-start;
            padding: 30px 0 0;
        }

        &__action {
            padding: 0;
            position: absolute;
            margin-top: -12px;
            right: 60px;
            top: -50px;
        }

        &__data {
            width: 232px;
            flex: 0 0 auto;
        }

        &__subs {
            padding-left: 50px;
            flex: 1 1 auto;
        }

        &__subs-list {
            display: flex;
            flex-flow: row wrap;
            margin: 0 -16px;
        }

        &__subs-checkbox {
            width: 50%;
            padding: 0 16px;
        }
    }
}

@media #{$desktop} {
    .account-settings {
        .modal__dialog {
            max-width: 920px;
            padding: 90px 60px 70px 90px;
        }

        &__subs-checkbox {
            width: 33%;
        }
    }
}
