mixin object-description()
    +b.SECTION.object-description
        +e.title
            +title('h2', 'medium')
                | Описание
        +e.wrapper
            +e.main
                p 
                    | Инвесторам предлагается профессионально отобранный объект недвижимости институционального качества формата стрит-ритейл. Объект расположен в новом жилом микрорайоне Эко Видное в Ленинском районе Московской области в 4 км от Москвы по высокоскоростной трассе М4 «Дон».
                p 
                    | Удачное расположение делает объект привлекательным как для покупателей, так и для брендов продуктового ритейла. Операторы, предлагающие различные группы товаров, обеспечивают стабильный покупательский трафик. Количество посетителей в месяц - более 100 тысяч человек. В Торговом центре расположены продуктовые магазины, сети быстрого питания, кафе, студии красоты, товары для детей, зоомагазин, аптека и другие арендаторы.
            +e.aside
                p Объект является 1-этажным отдельно стоящим зданием с подвальными помещениями, пригодными для сдачи в аренду
                +e.data
                    +e.data-value 98,8%
                    +e.data-label Фактическая загрузка торгового центра 
                +e.data
                    +e.data-value 2007 г.
                    +e.data-label Здание построено и введено в эксплуатацию
