.object-description {
    &__title {
        margin-bottom: 16px;
    }

    &__main {
        margin-bottom: 35px;

        p {
            margin: 0 0 25px;

            font-size: 16px;
            line-height: 1.4;

            &:last-child {
                margin-bottom: 0;
            }
        }

        ul {
            padding: 0;
            margin: 0 0 35px;
            list-style: none;

            &:last-child {
                margin-bottom: 0;
            }

            li {
                position: relative;
                padding-left: 16px;
                margin-bottom: 8px;

                font-size: 16px;
                line-height: 1.4;

                &::before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    top: 9px;
                    left: 0;

                    background-color: $theme-color;
                    border-radius: 50%;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__aside {
        p {
            margin: 0 0 25px;

            font-size: 16px;
            line-height: 1.4;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__data {
        margin-bottom: 26px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__data-value {
        margin-bottom: 8px;

        color: $theme-color;
        font-size: 34px;
        font-weight: 600;
        line-height: 1.2;
    }

    &__data-label {
        font-size: 14px;

        max-width: 200px;
    }
}

@media #{$tablet} {
    .object-description {
        display: flex;

        &__title {
            width: 40%;
            flex: 0 0 auto;
            padding-right: 15px;
        }

        &__wrapper {
            width: 50%;
            flex: 1 1 auto;
            margin-bottom: 0;
        }

        &__main {
            margin-bottom: 30px;
        }
    }
}

@media #{$laptop} {
    .object-description {
        &__title {
            width: 30%;
        }

        &__wrapper {
            display: flex;
        }

        &__main {
            width: 60%;
            padding-right: 45px;
            margin-bottom: 0;
        }
    }
}
@media #{$desktop} {
    .object-description {
        &__title {
            width: 400px;
        }
    }
}
