mixin info-modal()
    +b.modal.info-modal#infoModal(aria-hidden="true")
        +e.overlay(tabindex="-1" data-micromodal-close="")
            +e.dialog(role="dialog" aria-modal="true" aria-labelledby="Добавить ребенка")
                +e.close.BUTTON.modal__close(aria-label="Close modal" data-micromodal-close="")
                    +icon('close')
                +e.header
                    +e.title Активо три — торговый центр Эко видное
                +e.content
                    p Рейтинг объекта – сводный показатель качества имущества во владении, который учитывает свыше 30 различных параметров в разрезе 3 основных групп:
                    ol
                        li привлекательность объекта (оценка потенциала и трафика вблизи объекта, а также покупательной способности посетителей);
                        li анализ конкуренции;
                        li оценка доходности объекта (потенциал и текущая доходность).
                    p Рейтинг объекта составлен из латинских букв AAA->AA->A->BBB->BB->B->CCC->CC->C и регулярно пересматривается.
                    p Рейтинг фонда – новый комплексный показатель, разработанный и внедрённый компанией АКТИВО в конце 2020 г. Данный показатель базируется на двух составляющих, имеющих равный вес:
                    ol
                        li рейтинг объекта без учёта составляющей текущей доходности;
                        li оценка текущей доходности.
                    p Для того, чтобы отличать рейтинг объекта от рейтинга фонда, последний отображается в буквенно-цифровом формате: A1->A2->A3->B1->B2->B3->C1->C2->C3->D.
                    p За базу оценки текущей доходности берётся отношение средней доходности пая за последние 12 месяцев к Базовому уровню доходности по вкладам на срок свыше 1 года, ежемесячно публикуемому Центральным Банком РФ.
                    p При этом для подсчёта вклада данного показателя используется логарифмическая шкала. В том случае, если доходность пая равна Базовой доходности, значение вклада текущей доходности принимается нулевым. При значении доходности пая менее Базовой доходности, полученный результат уменьшает общее значение рейтинга. С ростом отношения доходности пая к Базовой доходности увеличивается и рейтинг фонда.
                    p Таким образом, на рейтинг фонда влияют следующие факторы:
                    ul
                        li перспективы объекта;
                        li доходность пая в среднем за последние 12 месяцев;
                        li Базовая доходность по вкладам, публикуемая Центральным Банком РФ.
                    p Для фондов, в которые объект недвижимости покупался с НДС, предусматривающие возврат НДС инвесторам, величина возвращаемого НДС исключается из расчёта, чтобы нивелировать скачки в показателе доходности в периоде, когда был произведён возврат.