.monitoring-funds {
    &__row {
        position: relative;
        display: flex;
        align-items: center;

        font-size: 10px;
        font-weight: 400;

        transition: background-color 300ms ease;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(var(--fund-value) * 1%);

            background-color: var(--fund-color);
        }

        &.active,
        &:hover,
        &:active,
        &:focus {
            font-weight: 600;

            background-color: #f4f4f4;
        }

        &--header {
            font-weight: 600;

            &::after {
                display: none;
            }

            &.active,
            &:hover,
            &:active,
            &:focus {
                background-color: transparent;
            }
        }
    }

    &__link {
        position: absolute;
        z-index: 4;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__cell {
        position: relative;
        z-index: 3;
        padding: 12px 20px;
        flex: 1 1 auto;

        &:first-of-type {
            width: 70px;
            flex: 0 0 auto;
        }

        &:last-child {
            text-align: right;
            white-space: nowrap;
        }
    }
}

@media #{$tablet} {
    .monitoring-funds {
        &__cell {
            padding: 12px 5px;
        }
    }
}

@media #{$laptop} {
    .monitoring-funds {
        &__row {
            font-size: 12px;
        }
    }
}
