mixin account-layout()
    +b.account-layout
        +lines('account')
        +inner
            +e.wrapper
                +e.ASIDE.sidebar
                    +page-navigation('small')
                        +e.A.link(href='#') Мониторинг
                        +e.A.link(href='#') Документы
                            +e.notify(data-tippy-content='') !
                        +e.A.link(href='#') Новости
                        +e.A.link.active.current(href='#') Реквизиты
                        +e.A.link(href='#') Рекомендовать друга
                            +e.notify(data-tippy-content='') !
                        +e.A.link(href='#') Мониторинг
                        +e.A.link(href='#') Документы
                            +e.notify(data-tippy-content='') !
                        +e.A.link(href='#') Новости
                        +e.A.link(href='#') Реквизиты
                        +e.A.link(href='#') Рекомендовать друга
                            +e.notify(data-tippy-content='') !
                +e.MAIN.main
                    block