.account-layout {
    position: relative;

    .lines {
        display: none;

        .line::after {
            opacity: 0;
        }
    }

    &__wrapper {
        padding-top: 24px;
        padding-bottom: 40px;
    }

    &__sidebar {
        margin-bottom: 30px;
    }
}

@media #{$tablet} {
    .account-layout {
        &__wrapper {
            max-width: 960px;
            margin: 0 auto;
            padding-top: 55px;
            padding-bottom: 55px;

            border-left: 1px solid rgba(#919191, 0.22);
            border-right: 1px solid rgba(#919191, 0.22);
        }

        &__main {
        }
    }
}

@media #{$desktop} {
    .account-layout {
        .lines {
            display: block;
        }

        &__wrapper {
            max-width: none;
            padding-top: 64px;
            padding-bottom: 64px;
            // display: flex;

            border: none;
        }

        &__sidebar {
            position: sticky;
            z-index: 19;
            top: 0;
            width: 100%;
            margin-bottom: 30px;

            background: #fff;
            border-left: 1px solid rgba(145, 145, 145, 0.2);
            border-right: 1px solid rgba(145, 145, 145, 0.2);
        }

        // &__sidebar {
        //     width: 280px;
        //     flex: 0 0 auto;
        // }

        // &__main {
        //     width: 60%;
        //     flex: 1 1 auto;
        // }
    }
}
