mixin account-layout()
    +b.account-layout
        +lines
        +inner
            +e.wrapper
                +e.ASIDE.sidebar
                    +account-nav
                +e.MAIN.main
                    block