mixin object-plans()
    +b.SECTION.object-plans
        +e.title
            +title('h2', 'medium')
                | Планировка
        +e.slider
            +e.slide
                img(src='images/redesign/object/plan1.jpg', alt='')
            +e.slide
                img(src='images/redesign/object/plan1.jpg', alt='')
            +e.slide
                img(src='images/redesign/object/plan1.jpg', alt='')