.account-documents {
    width: calc(100% + 40px);
    margin-left: -20px;

    &__empty {
        max-width: 360px;
        margin: 0 auto;
        padding: 24px;

        text-align: center;

        border: 1px solid $theme-color;
        border-radius: 8px;
    }

    &__empty-title {
        margin-bottom: 20px;

        font-size: 18px;
        font-weight: 600;
    }

    &__empty-link.btn {
        font-size: 16px;
    }

    &__date {
        display: block;
        padding-left: 16px;
        margin-bottom: 16px;

        font-size: 14px;
        font-weight: 500;
        color: #838282;
    }

    &__aside {
        padding: 0 0 12px;

        border-bottom: 1px solid #f6f6f6;
    }

    &__aside-link {
        display: block;
        padding: 12px;

        font-size: 12px;
        font-weight: 600;
        color: $text-color;
        text-decoration: none;

        transition: background-color 300ms ease;

        &.active {
            background-color: #fff6d4;
            font-weight: 700;
        }

        &:hover,
        &:active,
        &:focus-visible {
            background-color: #fff6d4;
        }
    }

    &__block {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media #{$tablet} {
    .account-documents {
        width: 100%;
        margin: 0;

        &__empty {
            padding: 56px 24px;
        }
    }
}

@media #{$laptop} {
    .account-documents {
        &__wrapper {
            display: flex;
        }

        &__aside {
            min-width: 200px;
            border-right: 1px solid #f6f6f6;
        }

        &__list {
            flex: 1 1 auto;
        }
    }
}

@media #{$desktop} {
    .account-documents {
        &__aside {
            min-width: 300px;
        }

        &__aside-link {
            padding: 12px 20px;
        }
    }
}
