mixin partners-top()
    +b.SECTION.partners-top
        +inner
            +e.wrapper
                +e.col
                    +e.title
                        +title('h1', 'light') 
                            | Постройте<br> совместный<br> бизнес<br>c лидером<br>краудфандинга<br>в России
                    +e.link.btn(href='#') Смотреть объекты
                +e.col
                    +e.subtitle Три шага к партнерству
                    +e.UL.steps
                        +e.LI.step Выберите вид партнерства и пройдите регистрацию
                        +e.LI.step Получите официальный статус партнера и сертификат
                        +e.LI.step Получайте ежемесячный доход с привлеченных клиентов