mixin about-history()
    +b.SECTION.about-history
        +inner
            +e.section
                +e.H2.title История<br>Aktivo
                +e.subtitle
                    +title
                        | Инвестиции <br>без крупных <br>вложений
                +e.text
                    p Покупка объекта требует крупных единовременных вложений, а подбор  управление объектом занимает много времени. Помимо этого, такой вид инвестиций требует обширных знаний в этой области, которыми обладает довольно узкий пул населения.
                    p Зарубежный опыт коллективных инвестиций показал, что стать владельцем коммерческой недвижимости можно и без миллиардных вложений и лишней головной боли.
            +e.section
                +e.title 2015
                +e.subtitle
                    +title
                        | Оскар Хартманн <br>создал Aktivo
                +e.text
                    p.bold Первый объект
                    p Первый объект, размещенный на площадке — супермаркет «Пятерочка» (Люберцы, Московская область) был приобретен в коллективное владение в начале декабря 2015 года.
                    p Суммы инвестиций в рамках коллективной покупки составили от 500 тысяч до 20 миллионов рублей. Покупателями выступили, прежде всего, владельцы крупного бизнеса и представители топ-менеджмента российских и зарубежных компаний.
                +e.FIGURE.figure
                    img(src='images/redesign/about/ceo.jpg', alt='')
                    +e.FIGCAPTION.figcaption В 2015 году основатель шопинг-клуба KupiVip Оскар Хартманн создал и запустил платформу Aktivo
            +e.section
                +e.title 2020
                +e.subtitle
                    +title
                        | Боллее 700<br>активных<br>инвесторов
                +e.P.highlight Инвестору нужно только выбрать объект, определить количество паев, заключить договор и получать ежемесячные выплаты.
                +e.text
                    p Активо занимается поиском и тщательным подбором объектов, имеющих качественный пул арендаторов и стабильную долгосрочную доходность. Наша платформа позволяет коллективно инвестировать в недвижимость высокого качества, которая раньше была доступна только профессиональным игрокам рынка. Такой формат дает возможность разделить стоимость объекта между участниками. При этом размер инвестиций составит от 300 тысяч до нескольких миллионов. Уровень безопасности остается высоким, а расходы, связанные с отбором и проверкой объектов, несем мы.
                    p Всю работу с арендаторами, коммунальными службами и государственными органами компания Активо берет на себя, что снимает с собственника все риски, связанные с урегулированием конфликтов внутри объекта.