.base-radio {
    position: relative;
    width: 100%;

    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-align: center;

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked {
            + .base-radio__label {
                background-color: $theme-color;
                border-color: $theme-color;
            }
        }
    }

    &__label {
        display: block;
        position: relative;
        padding: 4px 20px;
        min-width: 58px;

        border-radius: 4px;
        border: 1px solid $text-color;
        background-color: transparent;

        cursor: pointer;

        transition: border-color 300ms ease, background-color 300ms ease;
    }

    &__errors {
        display: none;
        position: relative;
        margin-top: 5px;

        font-size: 14px;
        color: #f52f4b;
    }
}
