mixin page-navigation(mod)
    +b.NAV.page-navigation(class=mod ? mod : '')
        +e.controls
            btn.control-btn.prev(type='button')
            btn.control-btn.next(type='button')
        +e.wrapper
            +e.list
                block