mixin page-navigation
    +b.NAV.page-navigation
        +e.controls
            btn.control-btn.prev(type='button')
            btn.control-btn.next(type='button')
        +e.wrapper
            +e.list
                block