include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"
- const theme = 'light'
doctype html
html(lang='ru')
    +doc-header
    body
        +main-header
        +account-layout
            +account-monitoring('#FED63F', false)
                +e.subnav
                    +e.A.link(href='#')
                        +icon('l-arrow')
                        | к списку фондов
                    +e.A.link.--right(href='#')
                        | следующий фонд
                        +icon('l-arrow')
                +e.header
                    +e.title Активо три — торговый центр Эко&nbsp;видное
                    +e.rating Рейтинг:
                        span(style='background-color: #7DCB73') A
                +e.data-list
                    +e.data-block
                        +e.data-label Категория
                        +e.data-value Стрит-ритейл
                    +e.data-block
                        +e.data-label Площадь
                        +e.data-value 3 203 кв.м
                    +e.data-block
                        +e.data-label Всего паев
                        +e.data-value 1 900
                    +e.data-block
                        +e.data-label Балансовая стоимость
                        +e.data-value 658 578 000 ₽
                    +e.data-block
                        +e.data-label Стоимость 1 кв. м.
                        +e.data-value 205 600 ₽
                +e.finances
                    +object-finances
                +e.estimates
                    +object-estimates
        +main-footer
            +lines
        +info-modal
        +doc-footer