include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"
- const theme = 'light'
doctype html
html(lang='ru')
    +doc-header
    body
        +main-header
        +account-layout
            +account-monitoring
                +e.header
                    +e.title Все фонды
                    +e.A.link(href='#') На продажу
                        +icon('l-arrow')
                +e.toggles
                    +e.toggle
                        +e.toggle-title Тип доходности
                        +e.toggle-inputs
                            +e.LABEL.toggle-input
                                input(type='radio' name='toggle1' checked='')
                                span номинальная
                            +e.LABEL.toggle-input
                                input(type='radio' name='toggle1')
                                span эффективная
                    +e.toggle
                        +e.toggle-title Показатели за
                        +e.toggle-inputs
                            +e.LABEL.toggle-input
                                input(type='radio' name='toggle2' checked='')
                                span 12 месяцев
                            +e.LABEL.toggle-input
                                input(type='radio' name='toggle2')
                                span все время
                    +e.toggle
                        +e.toggle-title Доходность за
                        +e.toggle-inputs
                            +e.LABEL.toggle-input
                                input(type='radio' name='toggle3')
                                span период
                            +e.LABEL.toggle-input
                                input(type='radio' name='toggle3' checked='')
                                span год
                            +e.LABEL.toggle-input
                                input(type='radio' name='toggle3')
                                span 12 месяцев
                    +e.toggle
                        +e.toggle-title Период
                        +e.toggle-inputs
                            +e.LABEL.toggle-input
                                input(type='radio' name='toggle4')
                                span месяц
                            +e.LABEL.toggle-input
                                input(type='radio' name='toggle4' checked='')
                                span квартал
                            +e.LABEL.toggle-input
                                input(type='radio' name='toggle4')
                                span год
                +e.graph
                    +monitoring-graph
                +e.table
                    +monitoring-table
        +main-footer
            +lines
        +doc-footer