include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"
- const theme = 'light'
doctype html
html(lang='ru')
    +doc-header
    body
        +main-header
        +account-layout
            +account-monitoring()
                +e.header
                    +e.title Активо три — торговый центр Эко&nbsp;видное
                    +e.A.link(href='#') На продажу
                        +icon('l-arrow')
                +e.data-list
                    +e.data-col
                        +e.data-block
                            +e.data-label Вам принадлежит:
                            +e.data-value 18 из 1990 паев
                        +e.data-block
                            +e.data-label Инвестиции:
                            +e.data-value 4 344 132.00 ₽
                        +e.data-block
                            +e.data-label Ближайшая выплата:
                            +e.data-value до 30.09.2020
                        +e.data-block
                            +e.data-label Рейтинг фонда:
                                +e.BUTTON.data-info.info-trigger(type='button') ?
                            +e.data-value.--green А1
                    +e.data-col
                        +e.data-block
                            +e.data-label Документы:
                            +e.data-value
                                a(href='#') Очень длинное название документа номер два
                            +e.data-value
                                a(href='#') Самое длинное длинное название документа
                            +e.data-value
                                a(href='#') Очень длинное название документа три
                            +e.data-value
                                a(href='#') Очень длинное название документа пять

                +e.toggles
                    +e.toggle
                        +custom-select(false, ['номинальная', 'эффективная'], false, 'Тип доходности')
                    +e.toggle
                        +custom-select(false, ['12 месяцев', 'все время'], false, 'Показатели за')
                    +e.toggle
                        +custom-select(false, ['12 месяцев', 'все время'], false, 'Доходность за')
                    +e.toggle
                        +custom-select(false, ['месяц', 'квартал', 'год'], false, 'Период')
                +e.graph
                    +monitoring-graph
                +e.table
                    +monitoring-table
        +main-footer
            +lines
        +info-modal
        +doc-footer