include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"
- const theme = 'light'
doctype html
html(lang='ru')
    +doc-header
    body
        +main-header
        +account-layout
            +account-details
        //- +account-settings-modal
        +main-footer
            +lines
        +doc-footer