include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"
- const theme = 'light'
doctype html
html(lang='ru')
    +doc-header
    body
        +main-header
        .page
            +lines('only-sides')
            +error-screen
        +main-footer
            +lines('show-right')
        +doc-footer