include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"
- const theme = 'dark'
doctype html
html(lang='ru')
    +doc-header
    body(dark-theme)
        +main-header
        .page
            +grid
            +index-top
            div(style='background-color: #fff; height: 2000px; padding-top: 200px')
                +inner
        +main-footer
            +grid
        +doc-footer