include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"
- const theme = 'dark'
doctype html
html(lang='ru')
    +doc-header
    body(theme='dark-theme')
        +main-header
        .page
            +liberty-club
        +main-footer
            +lines
        +doc-footer