include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"
- const theme = 'light'
doctype html
html(lang='ru')
    +doc-header
    body
        +main-header
        .page
            +lines
            +security-advantages
            +security-appeal
        +main-footer
            +lines
        +doc-footer