mixin object-slider()
    +b.SECTION.object-slider
        +e.progress
            +object-progress('20%')
        +e.slider
            +e.slide
                img(src="images/redesign/objects/object1@3x.jpg", alt="")
            +e.slide
                img(src="images/redesign/objects/object2@3x.jpg", alt="")
            +e.slide
                img(src="images/redesign/objects/object3@3x.jpg", alt="")
            +e.slide
                img(src="images/redesign/objects/object4@3x.jpg", alt="")
            +e.slide
                img(src="images/redesign/objects/object5@3x.jpg", alt="")
        +e.BUTTON.play(data-video-id='1-kG-vDVrkk')
        +e.data
            +e.data-top
                +e.title ТЦ «ЭкоВидное»
                +e.rating Рейтинг:
                    span(style='background-color: #7DCB73') A
            +e.data-bottom
                +e.data-col
                    +e.data-label Категория
                    +e.data-value Стрит-ритейл
                +e.data-col
                    +e.data-label Стоимость 1 кв. м.
                    +e.data-value 205 600 ₽
                +e.data-col
                    +e.data-label Площадь
                    +e.data-value 3203 кв.м
                +e.data-col
                    +e.data-label Балансовая стоимость
                    +e.data-value 658 578 000 ₽

