.best-objects {
    padding-top: 105px;

    overflow: hidden;

    &__title {
        margin-bottom: 20px;

        overflow: hidden;
    }

    &__content {
        margin-bottom: 26px;
    }

    &__paragraph {
        margin: 0 0 25px;

        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
    }

    &__link {
        width: 100%;
        max-width: 320px;
    }

    &__graph {
        position: relative;
        width: calc(100% + 20px);
        padding-left: 20px;
        height: 560px;
        // overflow: hidden;
    }

    &__legend {
        position: absolute;
        z-index: 1;
        left: -12px;
        width: 26px;
        height: 100%;
    }

    &__legend-item {
        margin: auto 0;
        position: absolute;
        top: 0;
        right: 0;
        height: 16px;

        font-size: 10px;
        font-weight: 500;
        color: #1cb96f;
        text-align: right;

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                top: $i * 10% - 10%;
            }
        }

        &--medium {
            color: #fed63f;
        }

        &--low {
            color: #ffa30c;
        }

        &--hidden {
            opacity: 0;
        }
    }

    &__objects {
        z-index: 11;
        display: flex;
        flex-flow: row nowrap;
        height: calc(100% + 5px);

        .slick-list,
        .slick-track {
            height: 100%;
        }

        .slick-arrow {
            @include btn-reset;
            position: absolute;
            top: 50%;
            left: 0;
            width: 35px;
            height: 35px;
            transform: translateY(-50%) rotate(-45deg);

            border-width: 0 1px 1px 0;
            border-style: solid;
            border-color: $theme-color;

            font-size: 0;

            transition: opacity 300ms ease;

            &.slick-prev {
                display: none !important;

                transform: translateY(-50%) rotate(135deg);
            }

            &.slick-next {
                left: auto;
                right: 28px;
            }

            &.slick-disabled {
                opacity: 0;
            }
        }
    }

    &__object {
        position: relative;
        width: 280px;
        height: 100%;
        flex: 0 0 auto;

        // &:not(:first-child) {
        //     display: none;
        // }
    }
}

@media #{$tablet} {
    .best-objects {
        position: relative;
        // padding-top: 135px;
        padding-top: 0;
        margin-top: -115px;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            bottom: 0;

            background-color: $theme-color;
        }

        &__wrapper {
            display: flex;
        }

        &__title {
            position: relative;
            margin-bottom: 0;
            padding-bottom: 10px;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: 0;

                background-color: rgba($color: #919191, $alpha: 0.2);
            }
        }

        &__content {
            padding-top: 60px;
            width: 33.3%;
            flex: 1 1 auto;
        }

        &__paragraph {
            padding-right: 35px;
        }

        &__link {
            position: relative;
            z-index: 12;
            white-space: nowrap;
        }

        &__graph {
            width: 66.6%;
            height: 600px;
            flex: 1 1 auto;
            padding-top: 5px;
            padding-left: 0;
            margin-bottom: 1px;
            margin-left: 1px;

            background-color: #fff;
            z-index: 11;
        }

        &__legend {
            left: -45px;

            &::after {
                content: '';
                position: absolute;
                height: calc(100% + 5px);
                width: 1px;
                right: 0;
                top: -5px;

                background-color: rgba($color: #919191, $alpha: 0.2);
            }
        }

        &__objects {
            width: calc(100% + 34px);

            .slick-arrow {
                &.slick-prev {
                    display: block !important;
                    left: 28px;
                    z-index: 1;
                }
            }
        }
    }
}

@media #{$laptop} {
    .best-objects {
        &__paragraph {
            padding-right: 85px;
        }

        &__legend {
            left: -55px;
        }

        &__link {
            width: 290px;
        }

        &__graph {
            height: 660px;
        }

        &__legend-item {
            font-size: 13px;
        }
    }
}

@media #{$desktop} {
    .best-objects {
        margin-top: -165px;

        &__title {
            padding-bottom: 35px;

            &::after {
                width: calc(100% + 240px);
                left: -120px;
            }
        }

        &__content {
            width: 400px;
            flex: 0 0 auto;
            padding-top: 60px;
        }

        &__paragraph {
            font-size: 30px;
        }

        &__objects {
            width: calc(100% + 20px);
        }

        &__legend-item {
            font-size: 16px;
        }
    }
}

@media (min-width: 1440px) {
    .best-objects {
        &__graph {
            width: 880px;
        }

        &__objects {
            width: 100%;
        }
    }
}
