mixin liberty-top()
    +b.SECTION.liberty-top
        +inner
            +e.wrapper
                +e.title
                    +title('h1', 'light')
                        | Liberty – <br> сообщество <br>инвесторов
                +e.content
                    +e.subtitle Свобода инвестиций
                    +e.P.text Закрытое сообщеcтво предпринимателей, крупных инвесторов и топ-менеджеров, разделяющих идею создания единого российского marketplace коммерческой недвижимости AKTIVO
                    +e.BUTTON.button.btn(type='button') Вступить
                    +e.tip Размер единовременных <br> инвестиций должен <br>быть не менее 10&nbsp;000&nbsp;000&nbsp;руб.