mixin faq()
    +b.SECTION.faq
        +lines
        +inner
            +e.title
                +title('h1')
                    | Ответы <br>на вопросы
            +e.wrapper
                +e.ASIDE.aside
                    +e.NAV.questions
                        +e.UL.questions-list
                            +e.LI.questions-item
                                +e.A.questions-link.active(href='#') Преимущества AKTIVO
                            +e.LI.questions-item
                                +e.A.questions-link(href='#') Доходность
                            +e.LI.questions-item
                                +e.A.questions-link(href='#') Покупка активов
                            +e.LI.questions-item
                                +e.A.questions-link(href='#') Налогообложение инвестора
                            +e.LI.questions-item
                                +e.A.questions-link(href='#') Безопасность
                            +e.LI.questions-item
                                +e.A.questions-link(href='#') Словарь терминов
                            +e.LI.questions-item
                                +e.A.questions-link(href='#') Управляющая компания
                +e.MAIN.content
                    +e.paragraph
                        h3 Что такое краудфандинг в недвижимость?
                        p Краудфандинг в недвижимость (крауд-инвестиции, коллективные инвестиции) - способ приобретения масштабных высокодоходных объектов недвижимости институционального качества для получения стабильного арендного дохода путем объединения средств нескольких инвесторов. Краудфандинговые инвестиции хорошо зарекомендовали себя по всему миру, в настоящее время в Европе и развитых странах Азии насчитывается более 150 компаний, предлагающих real estate crowdfunding & crowdinvesting
                    +e.paragraph
                        h3 В чем преимущества инвестирования с AKTIVO?
                        p AKTIVO – компания краудфандинга коммерческой недвижимости №1 в России. Это уникальная возможность комфортно и безопасно инвестировать любую сумму от 300 000 рублей в тщательно отобранные объекты наилучшего качества. <br>AKTIVO позволяет разделить стоимость объекта между участниками, при этом размер инвестиций каждого участника зависит только от его выбора. <br>С другой стороны, AKTIVO – не только краудфандинговая площадка, но и профессиональная команда, которая выполняет наиболее сложные и хлопотные задачи за вас:
                        p Отбор и тщательный всесторонний аудит объектов (доходность, коммерческие, юридические, технические и др. параметры)<br>Поиск соинвесторов и безопасное сопровождение сделки<br>Обслуживание и управление объектами после покупки (решение вопросов с арендаторами, коммунальными службами и государственным органами)
                    +e.paragraph
                        h3 В чем отличие AKTIVO от банковских депозитов и других финансовых инструментов?
                        p Инвестиции в недвижимость с AKTIVO обладают рядом преимуществ перед другими финансовыми инструментами: это намного выгоднее, чем банковские вклады, средняя ставка по которым составляет в среднем 6% годовых, и безопаснее с учетом сложившейся ситуации в банковском секторе. По сравнению с паевыми фондами, инвестиции в недвижимость намного прозрачнее т.к. инвестор выбирает конкретное здание и может получить полную информацию о нем до совершения сделки. По сравнению с биржевыми инструментами вложения в недвижимость более безопасны и обеспечивают доходность на уровне 15-17% годовых с учетом роста стоимости самой недвижимости. При инвестировании в коммерческую недвижимость покупатель несет меньшие инфляционные и девальвационные риски (риск обесценения национальной валюты), поскольку стоимость недвижимости растет вместе с инфляцией и переоценивается с учетом текущей экономической ситуации. Инвестиции с AKTIVO – уникальный шанс защитить и сохранить реальную стоимость своих активов и получать регулярный доход, защищенный от инфляции
                        ul
                            li Lorem, ipsum.
                            li Lorem ipsum dolor sit.
                            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, suscipit?
                            li lorem