mixin main-header()
    +b.HEADER.main-header
        +e.inner
            +e.A.logo(href='../')
                if (theme === 'dark')
                    img(src='images/redesign/logo-white.svg' width='88' alt='Aktivo')
                else
                    img(src='images/redesign/logo.svg' width='88' alt='Aktivo')
            +e.navigation
                +main-nav(theme)
                +e.authorization.--mobile
                    +authorization(theme)
            +e.A.phone(href='tel: 8 800 500-64-64') 8 800 500-64-64
            +e.authorization.--desktop
                +authorization(theme)
            +e.hamburger
                +hamburger(theme)