mixin index-top()
    +b.SECTION.index-top
        +inner
            +e.wrapper
                +e.title
                    +title('h1', 'light') 
                        | Коллективные <br>инвестиции<br> в коммерческую<br> недвижимость
                +e.UL.advantages
                    +e.LI.advantages-item
                        +e.SPAN.advantage-value 458 000 000 ₽
                        +e.SPAN.advantage-title Распределили инвесторам за 2019 г.
                    +e.LI.advantages-item
                        +e.SPAN.advantage-value 3 млрд
                        +e.SPAN.advantage-title Стоимость активов Aktivo
                    +e.LI.advantages-item
                        +e.SPAN.advantage-value &gt;700
                        +e.SPAN.advantage-title активных инвесторов
                +e.A.link.btn(href='#') Смотреть объекты
                +e.slider
                    +index-slider