mixin index-top()
    +b.SECTION.index-top
        +inner
            +e.wrapper
                +e.H1.title Коллективные <br>инвестиции<br> в коммерческую<br> недвижимость
                +e.UL.advantages
                    +e.LI.advantages-item
                        span.title 458 000 000 ₽
                        span.value Распределили инвесторам за 2019 г.
                    +e.LI.advantages-item
                        span.title 3 млрд
                        span.value Стоимость активов Aktivo
                    +e.LI.advantages-item
                        span.title &gt;700
                        span.value активных инвесторов
                +e.A.link.btn(href='#') Смотреть объекты
                +e.slider
                    //- +index-slider