.howitworks-aktivo {
    position: relative;
    padding-top: 140px;
    padding-bottom: 200px;

    overflow: hidden;

    &::before {
        content: 'A';
        position: absolute;
        top: -95px;
        left: -250px;

        color: transparent;
        font-size: 700px;
        font-weight: 600;
        -webkit-text-stroke: 0.7px $theme-color;
    }

    &__title {
        margin-bottom: 26px;
    }

    &__subtitle {
        margin-bottom: 16px;
    }

    &__text {
        font-size: 14px;
        line-height: 1.6;

        &--first {
            margin-bottom: 35px;
        }

        p {
            margin: 0 0 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media #{$tablet} {
    .howitworks-aktivo {
        padding-top: 120px;
        padding-bottom: 250px;

        &__wrapper {
            display: flex;
        }

        &__title {
            width: 33.3%;
            flex: 1 1 auto;
        }

        &__content {
            width: 66.6%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: min-content auto;
        }

        &__column {
            width: 50%;
        }

        &__subtitle {
            margin-bottom: 50px;
            grid-column: 1;
            grid-row: 1;

            align-self: end;

            &--second {
                grid-column: 2;
                grid-row: 1;
            }
        }

        &__text {
            padding-right: 10px;
        }
    }
}

@media #{$laptop} {
    .howitworks-aktivo {
        &::before {
            top: -225px;
            left: -282px;

            font-size: 850px;
        }

        &__text {
            font-size: 16px;
            line-height: 1.4;
        }
    }
}

@media #{$desktop} {
    .howitworks-aktivo {
        max-width: 1440px;
        margin: 0 auto;
        overflow: visible;
        padding-top: 120px;
        padding-bottom: 270px;

        &::before {
            top: -255px;
            left: -214px;
            font-size: 950px;
        }

        &__title {
            width: 400px;
            flex: 0 0 auto;
        }

        &__content {
            width: 760px;
            flex: 0 0 auto;
            grid-template-columns: 360px 400px;
        }

        &__text {
            padding-right: 75px;
        }
    }
}
