mixin howitworks-aktivo()
    +b.SECTION.howitworks-aktivo
        +inner
            +e.wrapper
                +e.title
                    +title 
                        | Aktivo
                +e.content
                    +e.subtitle.--first
                        +title('h3', 'small')
                            | Aktivo за свой <br>счет проверяет <br>и управляет объектом <br>недвижимости
                    +e.text.--first
                        p Это сокращает затраты инвесторов на покупку недвижимости по сравнению с вариантом самостоятельного приобретения и обеспечивает более высокую надежность и доходность
                    +e.subtitle.--second
                        +title('h3', 'small')
                            | Прозрачное <br>инвестирование
                    +e.text.--second
                        p По сравнению с паевыми фондами, инвестирование в недвижимость с AKTIVO наиболее прозрачно, так как инвестор может изучить коммерческую информацию еще до заключения договора