mixin security-advantages()
    +b.SECTION.security-advantages
        +inner
            +e.title
                +title('h1')
                    | Инвестируйте <br>с Aktivo безопасно
            +e.row
                +e.column.--first
                    +e.rating 100%
                    +e.subtitle
                        +title('h2', 'medium') 
                            | Высокий рейтинг <br>объектов
                    +e.text
                        p AKTIVO принимает решение о выборе того или иного объекта недвижимости основываясь на множестве критериев, а также экспертизе признанных экспертов и успешных игроков рынка недвижимости, инвестиций и страхования
                +e.image
                    +e.image-positioner
                        +picture-helper({desktop: "images/redesign/advantages/umbrella.png", tablet: "images/redesign/advantages/umbrella.png", mobile: "images/redesign/advantages/umbrella_mobile.png"})
                +e.column.--second
                    +e.subtitle
                        +title('h2', 'medium') 
                            | Инвестиции <br>под защитой
                    +e.text
                        p.bold Независимость
                        p Объекты недвижимости управляются независимой специализированной компанией, это обеспечивает безопасность владения недвижимостью.
                        p.bold Страхование
                        p Если недвижимость пострадает,<br> вы получите компенсацию равную сумме ваших инвестиций. Партнерами страховых программ AKTIVO выступает «Альфа-страхование», «Ингосстрах», «Сбербанк Страхование».
                        +e.text-images
                            +e.text-image
                                img(src='images/redesign/advantages/company1.jpg', alt="")
                            +e.text-image
                                img(src='images/redesign/advantages/company2.jpg', alt="")
                            +e.text-image
                                img(src='images/redesign/advantages/company3.jpg', alt="")
                +e.column.--third
                    +e.subtitle
                        +title('h2', 'medium') 
                            | Полный <br>контроль
                    +e.text
                        p Aktivo полностью контролирует объекты и арендаторов. Анализирует данные о состоянии объектов, прибыли, а также расходах, налогах, валовом доходе и капитализации сделанных инвестиций. 
                        p Открытые отчёты по объектам обновляются в режиме реального времени. Отчёт управляющей компании и переоценка производятся каждые 6 месяцев. 