mixin monitoring-graph()
    +b.monitoring-graph
        +e.title Выплаты ₽ к проценту доходности
        +e.container
            #income-monitoring
        +e.caption
            +e.caption-block
                +e.caption-value 1 124 760.78 ₽
                +e.caption-label Выплачено за все время
            +e.caption-block
                +e.caption-value 99 124 760.78 ₽
                +e.caption-label Выплачено за 12 месяцев
            +e.caption-type До НДФЛ