.title {
    position: relative;
    display: inline-block;
    margin: 0;

    font-family: $font;
    color: $text-color;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;

    &.main {
        font-size: 32px;
    }

    &.small {
        font-size: 20px;
    }

    &.light {
        color: $text-color-white;
    }
}

@media #{$tablet} {
    .title {
        font-size: 32px;

        &.small {
            font-size: 26px;
        }
    }
}

@media #{$laptop} {
    .title {
        font-size: 40px;

        &.small {
            font-size: 30px;
        }
    }
}

@media #{$desktop} {
    .title {
        font-size: 50px;

        line-height: 1.1;

        &.small {
            font-size: 34px;
        }
    }
}
