mixin monitoring-steps()
    +b.monitoring-steps
        +e.title Этапы сделки
        +e.container
            +e.list
                +e.card.--past
                    +e.label Сбор 50%
                    +e.status Завершено
                +e.card.--past
                    +e.label Создание фонда
                    +e.status Завершено
                +e.card.--current
                    +e.label Создание фонда
                    +e.status Текущий
                +e.card.--future
                    +e.label Формирова&shy;ние фонда денежными средствами
                    +e.status Запланировано
                +e.card.--future
                    +e.label Внесение изменений в пду
                    +e.status Запланировано
                +e.card.--future
                    +e.label Создание фонда
                    +e.status Запланировано
                +e.card.--future
                    +e.label Формирова&shy;ние фонда денежными средствами
                    +e.status Запланировано
                +e.card.--future
                    +e.label Внесение изменений в пду
                    +e.status Запланировано