.profit-calc {
    padding-top: 220px;
    background-color: #fff;

    overflow: hidden;

    max-width: 375px;
    margin: 0 auto;

    &__text {
        position: relative;
        padding-left: 115px;
        margin-bottom: 95px;

        font-size: 14px;
        line-height: 1.55;

        p {
            margin: 0;
        }

        a {
            position: relative;
            display: inline-block;

            color: $theme-color;
            text-decoration: none;

            transition: opacity 300ms ease;

            &:hover,
            &:active,
            &:focus {
                color: $theme-color;
                text-decoration: none;
                opacity: 0.6;
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: -2px;

                background-color: currentColor;
            }
        }
    }

    &__ruble-icon {
        position: absolute;
        width: 96px;
        height: 120px;
        left: 0;
        top: 6px;

        svg {
            @include svg-icon;
            fill: none;
            stroke: #b9b9b9;
        }
    }

    &__title {
        margin-bottom: 15px;
    }

    &__investment {
        position: relative;
        width: calc(100% + 20px);
        margin-left: -20px;
        height: 100px;
    }

    &__investment-range {
        position: absolute;
        width: 100%;
        height: 100px;
        left: 0;
        top: 0;

        &.noUi-target {
            border: none;
            box-shadow: none;
            border-radius: 0;
        }

        .noUi-connects {
            border-radius: 0;
        }

        .noUi-connect {
            background-color: rgba($theme-color, 0.2);
        }

        .noUi-origin {
            height: 100%;
        }

        .noUi-connect,
        .noUi-origin {
            &.transition {
                transition: transform 300ms ease;
            }
        }

        .noUi-handle {
            top: 0;
            width: 74px;
            right: -37px;
            height: 100%;

            background: none;
            box-shadow: none;
            border: none;
            outline: none;

            &::before,
            &::after {
                width: 0;
                height: 0;

                top: 50%;
                left: 0;
                transform: translateY(-50%);

                border-top: 16px solid transparent;
                border-bottom: 16px solid transparent;
                border-right: 16px solid $theme-color;
                background: none;
            }

            &::after {
                right: 0;
                left: auto;
                transform: translateY(-50%) rotate(180deg);
            }
        }

        .noUi-touch-area {
            position: relative;
            width: 100%;
            height: 100%;

            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                left: 50%;

                background-color: $theme-color;
            }
        }
    }

    &__investment-data {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__investment-label {
        font-size: 14px;
        line-height: 1.6;
    }

    &__investment-value {
        font-size: 28px;
        font-weight: 600;
        line-height: 1;
    }

    &__objects {
        position: relative;
        width: calc(100% + 40px);
        margin-left: -20px;

        height: 506px;
        overflow: hidden;
    }

    &__income-range {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        top: 44px;
        bottom: 115px;

        &.noUi-target {
            border: none;
            box-shadow: none;
            border-radius: 0;
        }

        .noUi-connects {
            border-radius: 0;
        }

        .noUi-connect {
            background-color: transparent;
        }

        .noUi-origin {
            height: 100%;
        }

        .noUi-connect,
        .noUi-origin {
            &.transition {
                transition: transform 300ms ease;
            }
        }

        .noUi-handle {
            top: 0;
            width: 74px;
            right: -37px;
            height: 100%;

            background: none;
            box-shadow: none;
            border: none;
            outline: none;

            &::before,
            &::after {
                width: 0;
                height: 0;

                top: 50%;
                left: 0;
                transform: translateY(-50%);

                border-top: 16px solid transparent;
                border-bottom: 16px solid transparent;
                border-right: 16px solid $theme-color;
                background: none;
            }

            &::after {
                right: 0;
                left: auto;
                transform: translateY(-50%) rotate(180deg);
            }
        }

        .noUi-touch-area {
            position: relative;
            width: 100%;
            height: 100%;

            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                left: 50%;

                background-color: $theme-color;
            }
        }
    }

    &__objects-nav {
        position: absolute;
        width: 100%;
        z-index: 2;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            left: 20px;

            background-color: rgba(#919191, 0.2);
        }

        .slick-slide {
            height: 44px;
            padding-left: 20px;
            display: flex;
            align-items: center;

            color: $text-color-white;
            opacity: 0.3;

            transition: opacity 300ms ease;

            outline: none;

            &.slick-current {
                opacity: 1;
            }
        }
    }

    &__objects-slider {
        height: 100%;

        .slick-list,
        .slick-track,
        .slick-slide {
            height: 100%;
        }
    }
}

@media #{$tablet} {
    .profit-calc {
        padding-top: 85px;
        &__wrapper {
            display: grid;
            grid-template-areas:
                '. . text'
                'title objects objects'
                'investment objects objects';
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto max-content auto;
        }

        &__text {
            grid-area: text;
        }

        &__title {
            grid-area: title;
            align-self: start;
        }

        &__investment {
            grid-area: investment;
            height: 100%;
        }

        &__objects {
            grid-area: objects;
        }
    }
}

@media #{$desktop} {
    .profit-calc {
    }
}
