mixin profit-calc()
    +b.SECTION.profit-calc
        +inner
            +e.wrapper
                +e.text
                    +e.ruble-icon(data-aos="fade-left")
                        +icon('ruble-icon')
                    p Доходность коллективных инвестиций выше, чем у большинства классических низкорисковых способов получения пассивного дохода
                    a(href='#') Подробнее
                +e.title
                    +title(data-aos="fade-right-full")
                        | Рассчитайте ваш доход
                +e.investment
                    +e.investment-range
                    +e.investment-data
                        +e.investment-label Сколько вложить
                        +e.investment-value
                +e.objects
                    //- +e.income-range
                    +e.objects-nav
                        div ТЦ «Эко Видное»
                        div ТЦ «Город»
                        div Пятерочка
                        div Перекреток
                        div Дикси
                    +e.objects-slider
                        +e.objects-slide
                            +profit-object(1, 'ТЦ «Эко Видное»', '12.8', '13.8')(data-min='363298', data-max='94348232' data-step='363298' data-rate='10.4' data-link='object-page1.html')
                        +e.objects-slide
                            +profit-object(2, 'ТЦ «Город»', '10.8', '12')(data-min='1000000', data-max='12000000' data-step='200000' data-rate='10.8' data-link='object-page2.html')
                        +e.objects-slide
                            +profit-object(1, 'Пятерочка', '13', '14')(data-min='200000', data-max='19000000' data-step='100000' data-rate='13' data-link='object-page3.html')
                        +e.objects-slide
                            +profit-object(2, 'Перекреток', '9.2', '10')(data-min='2000000', data-max='50000000' data-step='200000' data-rate='9.2' data-link='object-page4.html')
                        +e.objects-slide
                            +profit-object(1, 'Дикси', '8', '9')(data-min='200000', data-max='8000000' data-step='100000' data-rate='8' data-link='object-page5.html')
                    +e.object-link(href='#') Подробнее