mixin partners-appeal()
    +b.SECTION.partners-appeal
        +lines
        +inner
            +e.wrapper
                +e.title
                    +title('h2', 'light')
                        | Начните <br>зарабатывать<br>c лидером<br>краудфандинга<br>в России
                +e.row
                    +e.BUTTON.button.btn(type='button') Стать партнером
                    +e.info
                        +e.info-title Остались вопросы?
                        +e.P.info-text Если у Вас возникли какие-либо вопросы, оставьте свои контакты и мы свяжемся с вами для консультации