//- //- common modal template
//- .modal#modalId(aria-hidden="true")
//-     .modal__overlay(tabindex="-1" data-micromodal-close="")
//-         .modal__dialog(role="dialog" aria-modal="true" aria-labelledby="title")
//-             button.modal__close(aria-label="Close modal" data-micromodal-close="")
//-                 +icon('close')
//-             .modal__header
//-                 h2.modal__title
//-                     | title
//-                 .modal__subtitle
//-                 button.modal__close(aria-label="Close modal" data-micromodal-close="")
//-                     +icon('close')
//-             footer
//-                 .modal__legal
//-                     | Нажимая кнопку «Зарегистрироваться», я даю <a href='#'>согласие</a>на хранение и обработку персональных данных и соглашаюсь с <a href='#'>условиями</a> электронного документооборота с Aktivo.
