mixin account-monitoring(color = '#FED63F')
    +b.account-monitoring
        //- +e.header
        //-     +monitoring-header
        +e.wrapper
            +e.sidebar
                +monitoring-funds
            +e.body(style='--fund-color: ' + color)
                +monitoring-data
                    block