mixin account-monitoring(color = '#FED63F', hasSidebar = true)
    +b.account-monitoring
        //- +e.header
        //-     +monitoring-header
        +e.wrapper
            if (hasSidebar)
                +e.sidebar
                    +monitoring-funds
            +e.body(style='--fund-color: ' + color)
                +monitoring-data
                    block