.account-details {
    &__step {
        &.active {
            background-color: #f6f6f6;
        }
    }

    &__step-header {
        position: relative;
        padding: 14px 24px 15px 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-bottom: 1px solid #f6f6f6;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 8px;
            margin-top: -3px;

            border: solid #000;
            border-width: 0 1px 1px 0;
            padding: 3px;
            transform: translateY(-50%) rotate(45deg);
        }
    }

    &__step-title {
        position: relative;
        padding-right: 12px;

        font-size: 14px;
        font-weight: 600;
    }

    &__step-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__step-status {
        position: relative;
        padding-left: 20px;

        color: $text-color;
        font-size: 12px;

        &::before {
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            background-size: cover;

            border-radius: 50%;
        }

        &--ready::before {
            background-image: url(../images/redesign/account/success-icon.svg);
        }

        &--waiting::before {
            background-image: url(../images/redesign/account/clock-icon.svg);
        }
    }

    &__step-body {
        padding: 8px 32px 32px 24px;
    }

    &__inputs-row {
        display: grid;
        gap: 0 32px;
        grid-template-columns: repeat(auto-fit, minmax(146px, 1fr));
    }

    &__input {
        margin-bottom: 28px;
    }

    &__input-label {
        display: block;
        margin-bottom: 8px;

        font-size: 14px;
        color: #696969;
        line-height: 1.4;
    }

    &__radios-block,
    &__checkboxes-block {
        margin-bottom: 28px;

        &--2x {
            grid-column: span 2;
        }
    }

    &__radios-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -12px;
    }

    &__radio {
        flex: 0 0 auto;
        margin-right: 12px;
        margin-bottom: 12px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__checkbox {
        margin-bottom: 12px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__subtitle {
        margin: 24px 0;

        font-size: 16px;
        font-weight: 600;
    }

    &__files-row {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -24px;

        &:last-child {
            margin-bottom: -32px;
        }

        &:first-child {
            padding-top: 24px;
        }
    }

    &__file-block {
        position: relative;
        width: 50%;
        min-width: 300px;
        padding: 0 24px 32px;
    }

    &__file-upload {
        position: relative;
        width: 235px;
        height: 226px;

        color: #979797;

        border: 1px solid currentColor;

        cursor: pointer;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 90px;
            height: 1px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            transition: 300ms ease 200ms;

            background-color: currentColor;
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-90deg);
        }

        .dz-preview {
            display: none;
        }

        &.error {
            color: $red;

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        &.success,
        &.has-data {
            color: $green;

            &::before {
                top: 65%;
                left: 30%;
                transform: scaleX(0.45) scaleY(1.3) rotate(15deg) translate(-50%, -50%);
            }

            &::after {
                transform: translate(-23%, 150%) rotate(125deg);
                top: 48%;
            }
        }
    }

    &__upload-label {
        display: block;
        margin-bottom: 4px;
        min-height: 34px;

        font-size: 14px;
        color: #696969;
    }

    &__upload-status {
        position: absolute;
        top: 6px;
        left: 12px;

        font-size: 8px;
    }

    &__submit {
        @include btn-reset;
        display: block;
        width: 96px;
        height: 28px;
        margin-top: 32px;
        margin-right: 16px;

        color: $text-color;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;

        background: #e1e1e1;
        border-radius: 8px;

        transition: background-color 300ms ease;

        &:hover {
            background-color: $theme-color;
        }
    }
}

@media #{$tablet} {
    .account-details {
        &__step-header {
            padding-left: 48px;

            &::before {
                left: 16px;
                padding: 5px;
            }
        }

        &__step-title {
            font-size: 16px;
        }

        &__step-body {
            padding-left: 48px;
        }
    }
}

@media #{$desktop} {
    .account-details {
    }
}
