mixin security-appeal()
    +b.SECTION.security-appeal
        +inner
            +e.wrapper
                +e.col
                    +e.title
                        +title('h2', 'light')
                            | Финансовый <br> советник ответит<br> на ваши вопросы
                    +e.BUTTON.button.btn(type='button') Получить консультацию
                +e.col
                    +e.text
                        span.highlight 10 лет
                        p Опыта в области инвестиций имеет команда Aktivo. Наши советники могут ответить на любой ваш вопрос.