mixin about-partners()
    +b.SECTION.about-partners
        +inner
            +e.wrapper
                +e.header
                    +e.title
                        +title
                            | Наши <br>партнеры
                    +e.BUTTON.button.btn Стать партнером
                +e.P.text Постройте совместный бизнес c лидером краудфандинга в&nbsp;России
                +e.list
                    +e.partner
                        img(src='images/redesign/about/partner1.jpg', alt='')
                    +e.partner
                        img(src='images/redesign/about/partner2.jpg', alt='')
                    +e.partner
                        img(src='images/redesign/about/partner3.jpg', alt='')
                    +e.partner
                        img(src='images/redesign/about/partner4.jpg', alt='')
                    +e.other
                        span +27
                        span активных<br>партнеров
                    +e.partner
                        img(src='images/redesign/about/partner5.jpg', alt='')