.about-team {
    padding-top: 20px;

    &__header {
        margin-bottom: 20px;
    }

    &__title {
        margin: 0 0 15px;

        color: transparent;
        font-size: 63px;
        font-weight: 600;
        line-height: 1;
        -webkit-text-stroke: 0.7px #fed63f;
    }

    &__subtitle {
        br {
            display: none;
        }
    }

    &__list {
        position: relative;
        z-index: 12;
    }

    &__figure {
        position: relative;
        width: 300px;
        height: 342px;
        margin: 0;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            left: 0;
            top: 0;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.4));
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;

            object-fit: cover;
        }
    }

    &__figcaption {
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 30px;
        padding-left: 22px;

        color: $text-color-white;
        font-size: 16px;
        line-height: 1.4;
    }

    &__name {
        font-size: 22px;
        font-weight: 600;
    }
}

@media #{$tablet} {
    .about-team {
        padding-top: 65px;

        &__header {
            margin-bottom: 45px;
            display: flex;
        }

        &__title {
            flex: 1 1 66.6%;
            margin-left: -5px;
            margin-top: -5px;
            margin-bottom: 0;

            font-size: 75px;
        }

        &__subtitle {
            order: -1;
            flex: 1 1 33.3%;

            br {
                display: inline;
            }
        }

        &__list {
            display: flex;
        }

        &__teammate {
            flex: 1 1 33%;
        }

        &__figure {
            width: 256px;
            height: 256px;
        }
    }
}

@media #{$laptop} {
    .about-team {
        &__header {
            margin-bottom: 60px;
        }

        &__title {
            margin-left: -15px;
            margin-top: -10px;

            font-size: 101px;
        }

        &__figure {
            width: 256px;
            height: 256px;
        }
    }
}
@media #{$desktop} {
    .about-team {
        padding-top: 160px;

        &__header {
            margin-bottom: 40px;
        }

        &__title {
            width: 760px;
            margin-left: 5px;

            font-size: 117px;
            line-height: 0.9;
        }

        &__subtitle {
            width: 400px;
        }

        &__teammate {
            width: 400px;
            flex: 1 1 auto;

            &:last-child {
                width: 360px;
            }
        }

        &__figure {
            width: 342px;
            height: 342px;
        }
    }
}
