mixin howitworks-investors()
    +b.SECTION.howitworks-investors
        +inner
            +e.wrapper
                +e.title
                    +title
                        | Инвесторы
                +e.subtitle
                    +title('h3', 'small')
                        | Инвестиции <br>от 300 тыс. руб <br>и выплаты <br>каждый месяц
                +e.letters(aria-hidden='true')
                    | ИИИИИ<br>ИИИИИ<br>ИИИИИ
                +e.advantages
                    +e.advantage
                        +e.advantage-title Доходность 10-12%
                        +e.P.advantage-text Средняя доходность выше, чем у большинства классических низкорисковых способов получения пассивного дохода.
                    +e.advantage
                        +e.advantage-title Безопасность
                        +e.P.advantage-text Уровень безопасности остается высоким благодаря всесторонней проверке предлагаемых объектов. Деятельность осуществляется в соответствии с Федеральным законодательством и контролируется несколькими регуляторами.