mixin about-smi()
    +b.SECTION.about-smi
        +inner
            +e.title
                +title
                    | СМИ о нас
            +e.list
                +e.A.post(href='#' target='_blank' rel='noreferrer noopener')
                    +e.FIGURE.figure
                        img(src='images/redesign/about/post1.jpg', alt='')
                        +e.FIGCAPTION.figcaption
                            +e.smi
                                img(src='images/redesign/about/smi1.png', alt='')
                            +e.heading Оскар Хартманн двигает недвижимость
                +e.A.post(href='#' target='_blank' rel='noreferrer noopener')
                    +e.FIGURE.figure
                        img(src='images/redesign/about/post2.jpg', alt='')
                        +e.FIGCAPTION.figcaption
                            +e.smi
                                img(src='images/redesign/about/smi2.png', alt='')
                            +e.heading Новый бизнес создателя kupivip
                +e.A.post(href='#' target='_blank' rel='noreferrer noopener')
                    +e.FIGURE.figure
                        img(src='images/redesign/about/post3.jpg', alt='')
                        +e.FIGCAPTION.figcaption
                            +e.smi
                                img(src='images/redesign/about/smi3.png', alt='')
                            +e.heading Основатель KupiVIP запустил сервис покупки долей в недвижимости 
                +e.A.post(href='#' target='_blank' rel='noreferrer noopener')
                    +e.FIGURE.figure
                        img(src='images/redesign/about/post4.jpg', alt='')
                        +e.FIGCAPTION.figcaption
                            +e.smi
                                img(src='images/redesign/about/smi4.png', alt='')
                            +e.heading Оскар Хартманн запустил сервис крауд-инвестиций в недвижимость
                +e.A.post(href='#' target='_blank' rel='noreferrer noopener')
                    +e.FIGURE.figure
                        img(src='images/redesign/about/post5.jpg', alt='')
                        +e.FIGCAPTION.figcaption
                            +e.smi
                                img(src='images/redesign/about/smi5.png', alt='')
                            +e.heading Сервис для поиска инвестиций в коммерческую недвижимость в РФ
                +e.A.post(href='#' target='_blank' rel='noreferrer noopener')
                    +e.FIGURE.figure
                        img(src='images/redesign/about/post6.jpg', alt='')
                        +e.FIGCAPTION.figcaption
                            +e.smi
                                img(src='images/redesign/about/smi6.png', alt='')
                            +e.heading Основатель KupiVIP запускает краудфандинговый проект для инвестиций в недвижимость
                +e.A.post(href='#' target='_blank' rel='noreferrer noopener')
                    +e.FIGURE.figure
                        img(src='images/redesign/about/post7.jpg', alt='')
                        +e.FIGCAPTION.figcaption
                            +e.smi
                                img(src='images/redesign/about/smi7.png', alt='')
                            +e.heading Оскар Хартманн создаст закрытый клуб для инвестиций в недвижимость AKTIVO LIBERTY
                +e.A.post(href='#' target='_blank' rel='noreferrer noopener')
                    +e.FIGURE.figure
                        img(src='images/redesign/about/post3.jpg', alt='')
                        +e.FIGCAPTION.figcaption
                            +e.smi
                                img(src='images/redesign/about/smi8.png', alt='')
                            +e.heading Краудфандинговая площадка для инвестиций в недвижимость