mixin liberty-advantages()
    +b.SECTION.liberty-advantages
        +inner
            +e.wrapper
                +e.title
                    +title('h2', 'light medium') 
                        | Liberty <br>это свобода
                +e.list
                    +e.item
                        +e.item-title.--ruble Свобода <br> инвестиций
                        +e.item-text
                            p Доступ к эксклюзивным объектам недвижимости
                            p Право предварительного доступа ко всем предложениям AKTIVO 
                            p Инфраструктуру для создания фондов недвижимости, а также полное сопровождение каждой сделки по приобретению объекта 
                    +e.item
                        +e.item-title.--parentheses Свобода <br>нетворкинга
                        +e.item-text
                            p Сообщество людей равного уровня 
                            p Доступ на закрытые мероприятия с участием лидирующих экспертов в области инвестиций и персональных финансов 
                            p Индивидуальное консультирование каждого клиента по вопросам управления капиталом