.object-finances {
    position: relative;
    background-color: #fff;
    z-index: 12;

    overflow: hidden;

    &__title {
        margin-bottom: 55px;
    }

    &__table-wrapper {
        position: relative;
        z-index: 14;
    }

    &__table {
        width: 100%;
        overflow: hidden;

        table {
            // width: 100%;
            table-layout: fixed;
        }

        td {
            width: 105px;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 40px;
            vertical-align: top;

            font-size: 12px;
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
        }

        tr:first-child {
            td {
                font-weight: 600;
                color: #9e9e9e;
            }

            td:first-child {
                // width: 120px;
                padding-left: 0;
                color: $text-color;
                text-align: left;
                // + td {
                //     padding-left: 175px;
                //     width: 305px;
                // }
            }

            th:first-child,
            td:first-child {
                width: 120px;
            }

            .heading {
                position: absolute;
                width: 120px;
                background-color: #fff;
                // bottom: 35px;

                font-size: 14px;
                font-weight: 600;
                line-height: 1.2;
                white-space: initial;
            }
        }

        th {
            width: 120px;
            vertical-align: top;
            position: absolute;
            background-color: #fff;
            // width: 175px;

            font-weight: 500;
            text-align: left;
            font-size: 12px;
        }
    }

    &__vr {
        position: absolute;
        z-index: 13;
        width: 105px;
        top: 160px;
        bottom: 0;

        background-color: rgba($theme-color, 0.2);
        border-radius: 10px;

        opacity: 0;
        pointer-events: none;
        transition: opacity 300ms ease;

        &.active {
            opacity: 1;
        }
    }

    &__controls-wrapper {
        position: relative;
        z-index: 14;
        display: flex;
        justify-content: flex-end;
    }

    &__controls {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 360px;

        button {
            @include btn-reset;

            transition: opacity 300ms ease, color 300ms ease;

            &.hidden {
                opacity: 0;
                pointer-events: none;
            }
        }

        .scroll {
            position: relative;
            padding-left: 10px;

            font-size: 14px;
            font-weight: 500;
            color: #696969;
            line-height: 1;

            &::before {
                content: '';
                position: absolute;

                width: 8px;
                height: 8px;
                top: 50%;
                left: 0;
                transform: translate(0%, -50%) rotate(135deg);

                border-width: 0 1px 1px 0;
                border-style: solid;
                border-color: currentColor;
            }

            &.next {
                padding-left: 0;
                padding-right: 10px;

                &::before {
                    left: auto;
                    right: 0;
                    transform: translate(0%, -50%) rotate(-45deg);
                }
            }

            &:hover {
                color: $theme-color;
            }
        }

        .jump {
            position: relative;
            width: 20px;
            height: 20px;

            &::before,
            &::after {
                content: '';
                position: absolute;

                width: 8px;
                height: 8px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(135deg);

                border-width: 0 1px 1px 0;
                border-style: solid;
                border-color: #696969;

                transition: border-color 300ms ease;
            }

            &::before {
                margin-left: 4px;
            }

            &.next {
                transform: rotate(180deg);
            }

            &:hover {
                &::before,
                &::after {
                    border-color: $theme-color;
                }
            }
        }
    }

    &__line-chart {
        position: relative;
        padding-top: 50px;
        padding-left: 4px;

        .highcharts-scrolling {
            overflow: hidden !important;
        }

        [data-highcharts-chart] {
            position: relative;
        }
    }

    &__column-chart {
        position: relative;
        padding-top: 50px;
        padding-left: 4px;

        .highcharts-scrolling {
            overflow: hidden !important;
        }

        [data-highcharts-chart] {
            position: relative;
        }
    }

    &__subtitle {
        position: absolute;
        z-index: 12;
        width: 120px;
        display: flex;
        align-items: center;
        left: 0;
        top: 52px;

        font-size: 14px;
        font-weight: 600;

        background-color: #fff;
    }
}

@media #{$laptop} {
    .object-finances {
        position: relative;

        &__title {
            padding-left: 24px;
        }

        &__table-wrapper {
            &::after {
                content: '';
                position: absolute;
                width: 90px;
                height: 100%;
                top: 0;
                right: 0;

                background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);

                pointer-events: none;
                transition: opacity 300ms ease;
            }

            &.finished::after {
                opacity: 0;
            }
        }

        &__table {
            tr:first-child {
                td:first-child {
                    width: 288px;
                }

                .heading {
                    width: 288px;
                    padding-left: 24px;
                    font-size: 24px;
                    margin-top: -2px;
                }
            }

            tr:last-child td {
                border-bottom: 1px solid #f1f1f1;
            }

            td {
                width: 126px;
                font-size: 14px;
                padding-bottom: 24px;
            }

            th {
                width: 288px;
                padding-left: 24px;

                font-size: 14px;
                font-weight: 600;
            }
        }

        &__controls {
            padding-top: 16px;
        }

        &__line-chart {
            position: relative;
            padding-top: 70px;
            padding-left: 158px;
        }

        &__column-chart {
            padding-top: 70px;
            padding-left: 158px;
        }

        &__subtitle {
            width: 288px;
            top: 62px;
            padding-left: 24px;

            font-size: 24px;
        }

        &__vr {
            width: 126px;
            bottom: 40px;
            // bottom: 70px;
            // margin-left: 15px;
        }
    }
}

@media #{$desktop} {
    .object-finances {
    }
}
