mixin object-finances()
    +b.SECTION.object-finances
        +e.title
            +title('h2', 'medium')
                | Финансы
        +e.table
            table
                tr
                    td
                        .heading Работа фонда
                    td Декабрь 2017
                    td Январь 2018
                    td Февраль 2018
                    td Март 2018
                    td Апрель 2018
                    td Май 2018
                    td Июнь 2018
                    td Июль 2018
                    td Август 2018
                    td Сентябрь 2018
                    td Октябрь 2018
                    td &nbsp;
                tr
                    th Доход
                    each val in Array.from(new Array(11))
                        td 10 390 900.00 ₽
                    td
                        | &nbsp;
                tr   
                    th Расход
                    each val in Array.from(new Array(11))
                        td 0.00 ₽
                    td
                        | &nbsp;
                tr   
                    th ЧОД
                    each val in Array.from(new Array(11))
                        td 1 390 900.00 ₽
                    td
                        | &nbsp;
                tr   
                    th Комиссия за управление
                    each val in Array.from(new Array(11))
                        td 99.99 ₽
                    td
                        | &nbsp;
                tr   
                    th Доход на распределение
                    each val in Array.from(new Array(11))
                        td 12 290.99 ₽
                    td
                        | &nbsp;
                tr   
                    th Доход на пай до НДФЛ
                    each val in Array.from(new Array(11))
                        td 1 700.01 ₽
                    td
                        | &nbsp;
        +e.line-chart
            +e.subtitle
                | Финансовые выплаты
            #lineChart
        +e.column-chart
            +e.subtitle
                | Оборот паев
            #columnChart
        +e.scroll.--prev
            +e.BUTTON.scroll-prev
        +e.scroll.--next
            +e.BUTTON.scroll-next.active
        +e.hr
        +e.vr