.object-finances {
    position: relative;
    background-color: #fff;
    z-index: 12;

    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: -35px;

    &__title {
        margin-bottom: 30px;
    }

    &__table {
        width: 100%;
        overflow: hidden;

        table {
            width: 100%;
            table-layout: fixed;
        }

        td {
            width: 130px;
            height: 30px;
            padding-right: 15px;

            font-size: 12px;
            line-height: 30px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        tr:first-child {
            td {
                padding-bottom: 20px;

                font-weight: 600;
                color: #9e9e9e;
            }

            td:first-child {
                position: absolute;
                width: 175px;
                height: 60px;
                padding-left: 0;

                color: $text-color;

                background-color: #fff;

                + td {
                    padding-left: 175px;
                    width: 305px;
                }
            }

            .heading {
                position: absolute;
                bottom: 35px;

                font-size: 18px;
                font-weight: 600;
                line-height: 1.2;
            }
        }

        th {
            height: 30px;
            background-color: #fff;
            position: absolute;
            width: 175px;

            font-weight: 600;
            text-align: left;
            line-height: 30px;
            font-size: 12px;

            + td {
                padding-left: 175px;
                width: 305px;
            }
        }
    }

    &__hr {
        position: absolute;
        width: 100%;
        left: 0;
        height: 1px;

        background-color: $theme-color;

        opacity: 0;
        transition: opacity 300ms ease;

        &.active {
            opacity: 1;
        }
    }

    &__vr {
        position: absolute;
        z-index: 13;
        width: 1px;
        top: 0;
        bottom: 50px;

        background-color: $theme-color;

        opacity: 0;
        transition: opacity 300ms ease;

        &.active {
            opacity: 1;
        }
    }

    &__scroll,
    &__jump {
        position: absolute;
        width: 20px;
        top: 150px;
        bottom: 50px;

        pointer-events: none;

        &--prev {
            left: -20px;
        }

        &--next {
            right: -20px;
        }
    }

    &__jump {
        top: 200px;
    }

    &__scroll-next,
    &__scroll-prev,
    &__jump-next,
    &__jump-prev {
        @include btn-reset;
        position: sticky;
        top: 50px;
        width: 20px;
        height: 20px;
        transform: rotate(-45deg);

        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: $theme-color;

        font-size: 0;
        opacity: 0;

        transition: opacity 300ms ease;

        &.active {
            opacity: 1;

            pointer-events: all;
        }
    }

    &__scroll-prev,
    &__jump-prev {
        transform: rotate(-225deg);
        margin-left: 6px;
    }

    &__scroll-next {
        margin-left: -6px;
    }

    &__jump-next {
        margin-left: -3px;
    }

    &__jump-prev,
    &__jump-next {
        top: 100px;

        &::after {
            content: '';
            position: absolute;

            width: 20px;
            height: 20px;
            top: -5px;
            left: -5px;

            border-width: 0 1px 1px 0;
            border-style: solid;
            border-color: $theme-color;
        }
    }

    &__line-chart {
        position: relative;
        padding-top: 50px;
        padding-left: 50px;

        .highcharts-scrolling {
            overflow: hidden !important;
        }

        [data-highcharts-chart] {
            position: relative;
        }
    }

    &__column-chart {
        position: relative;
        padding-top: 40px;
        padding-left: 50px;

        .highcharts-scrolling {
            overflow: hidden !important;
        }

        [data-highcharts-chart] {
            position: relative;
        }
    }

    &__subtitle {
        position: absolute;
        z-index: 12;
        width: 150px;
        height: 40px;
        display: flex;
        align-items: center;
        left: 0;
        top: 32px;

        font-size: 16px;
        font-weight: 600;

        background-color: #fff;
    }
}

@media #{$laptop} {
    .object-finances {
        &__table {
            tr:first-child {
                td:first-child {
                    width: 195px;

                    + td {
                        padding-left: 195px;
                        width: 315px;
                    }
                }

                .heading {
                    bottom: 30px;

                    font-size: 24px;
                }
            }

            td {
                width: 120px;
                height: 40px;
                padding-right: 5px;

                font-size: 14px;
                line-height: 40px;
            }

            th {
                width: 195px;
                height: 40px;

                font-size: 14px;
                line-height: 40px;

                + td {
                    padding-left: 195px;
                    width: 315px;
                }
            }
        }

        &__jump {
            top: 220px;
        }

        &__scroll-next,
        &__scroll-prev,
        &__jump-next,
        &__jump-prev {
            width: 35px;
            height: 35px;
        }

        &__jump-next,
        &__jump-prev {
            top: 120px;

            &::after {
                width: 35px;
                height: 35px;
            }
        }

        &__scroll-prev {
            margin-left: 0;
        }

        &__jump-prev {
            margin-left: -6px;
        }

        &__scroll-next {
            margin-left: -15px;
        }

        &__jump-next {
            margin-left: -9px;
        }

        &__line-chart {
            position: relative;
            padding-top: 70px;
            padding-left: 75px;
        }

        &__column-chart {
            padding-top: 40px;
            padding-left: 75px;
        }

        &__subtitle {
            width: 180px;
            align-items: flex-start;

            font-size: 24px;
        }

        &__vr {
            bottom: 70px;
        }
    }
}

@media #{$desktop} {
    .object-finances {
        padding-top: 55px;
        padding-bottom: 55px;
        margin-top: -55px;
        margin-bottom: -55px;
    }
}
