mixin vacancies()
    +b.SECTION.vacancies
        +lines('left-only')
        +inner
            +e.title
                +title('h1')
                    | Ответы <br>на вопросы
            +e.wrapper
                +e.ASIDE.aside
                    +e.NAV.links
                        +e.UL.list
                            +e.LI.item
                                +e.A.link.active(href='#') Менеджер по работе с клиентами
                            +e.LI.item
                                +e.A.link(href='#') Маркетолог
                            +e.LI.item
                                +e.A.link(href='#') Директор по развитию
                +e.MAIN.content
                    +e.paragraph
                        h3 Обязанности:
                        ul
                            li Обработка входящего потока обращений клиентов: <br> телефон, почта, обращения через CRM;
                            li Планирование продаж;
                            li Полное сопровождение клиентов;
                            li Поиск потенциальных клиентов, ведение переговоров.
                    +e.paragraph
                        h3 Требования:
                        ul
                            li Отличные коммуникативные навыки, умение выстраивать взаимовыгодные отношения с клиентом;
                            li Умение планировать;
                            li Клиентоориентированность, стрессоустойчивость;
                            li Активная жизненная позиция;
                            li Желание работать и зарабатывать;
                            li Опыт работы в продажах не менее года (приветствуется в сфере недвижимости или инвестиционных продуктов).
                    +e.paragraph
                        h3 Условия:
                        ul
                            li Перспективы роста и развития, как профессионального, так и финансового.
                            li Профессиональное развитие сотрудника. Обучение технике продаж, переговорам, работе с возражениями клиентов.
                            li Перспектива быстрого карьерного роста;
                            li График работы: пн-пт, с 10.00 до 19.00.
                    +e.paragraph
                        p
                            b Присылайте резюме на почту <a href='mailto:hr@aktivo.ru'>hr@aktivo.ru</a><br> с указанием в теме «Менеджер по работе с клиентами»
