mixin account-document(title, type, price, isClosed)
    +b.account-document&attributes(attributes)
        -const random = Math.random()
        +e.header
            +e.title
                span(class=(+random < 0.5) ? 'notify' : '') !{title}
            +e.data
                if (type && price)
                    -const statusClass = isClosed ? ' closed' : ''
                    +e.price(class=type + statusClass)
                        .icon
                            +icon('l-arrow')
                        | !{price}
        +e.body
            block