.monitoring-data {
    &__subnav {
        padding-top: 24px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-bottom: 6px;
        justify-content: space-between;
    }

    &__link {
        position: relative;
        flex: 0 0 auto;
        margin-bottom: 6px;

        font-size: 12px;
        color: $blue;
        font-weight: 500;
        text-decoration: none;

        transition: opacity 300ms ease;

        &:hover,
        &:active,
        &:focus {
            opacity: 0.6;
        }

        svg {
            width: 9px;
            height: 8px;
            margin-right: 12px;

            stroke: currentColor;
        }

        &--right {
            svg {
                margin-right: 0;
                margin-left: 12px;
                transform: rotate(180deg);
            }
        }

        &--big {
            font-size: 16px;
        }
    }

    &__header {
        padding: 16px 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-top: 1px solid rgba(#919191, 0.2);
        border-bottom: 1px solid rgba(#919191, 0.2);

        &--funds {
            border: none;
        }
    }

    &__title {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 600;
    }

    &__rating {
        flex: 0 0 auto;
        font-size: 16px;
        font-weight: 600;

        span {
            display: inline-block;
            margin-left: 6px;
            padding: 0 3px;

            text-align: center;
            color: $text-color-white;

            border-radius: 2px;
        }
    }

    &__data-list {
        padding-top: 24px;
        padding-bottom: 24px;

        border-bottom: 1px solid rgba(#919191, 0.2);
    }

    &__data-col {
        &:first-child {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -8px;

            .monitoring-data__data-block {
                width: 50%;
                padding: 0 8px;
            }
        }
    }

    &__data-block {
        margin-bottom: 12px;
    }

    &__data-label {
        display: inline-block;
        position: relative;
        margin: 0 0 4px;

        font-size: 12px;
        line-height: 1.4;
        color: #696969;
    }

    &__data-value {
        margin: 0 0 4px;

        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;

        &--green {
            color: $green;
        }

        &--yellow {
            color: $theme-color;
        }

        &--red {
            color: $red;
        }

        a {
            color: $text-color;
            font-weight: 400;
            text-decoration: underline;

            transition: opacity 300ms ease;

            &:hover,
            &:active,
            &:focus {
                opacity: 0.6;
            }
        }
    }

    &__data-info {
        @include btn-reset;
        position: absolute;
        width: 10px;
        height: 10px;
        right: -12px;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 7px;
        line-height: 1;

        background-color: $theme-color;
        border-radius: 50%;
    }

    &__toggles {
        padding-top: 20px;
        display: flex;
        flex-flow: row wrap;
        margin: 0 -10px -15px;
    }

    &__toggle {
        margin-bottom: 15px;
        width: 50%;
        padding: 0 10px;
    }

    &__toggle-title {
        margin-bottom: 8px;

        font-size: 14px;
        color: #696969;
        line-height: 1.4;
    }

    &__toggle-inputs {
        display: flex;

        border: 1px solid var(--fund-color);
        border-radius: 999px;
        overflow: hidden;
    }

    &__toggle-input {
        flex: 1 1 auto;
        color: $text-color;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
            background-color: $theme-color;
        }

        span {
            display: block;
            width: 100%;
            padding: 10px;

            font-size: 12px;
            line-height: 1;
            text-align: center;

            border-right: 1px solid var(--fund-color);

            transition: background-color 300ms ease;
        }

        &:last-child {
            span {
                border-right: none;
            }
        }
    }

    &__table {
        padding-top: 30px;
    }

    &__graph {
        padding-top: 30px;
    }

    &__steps {
        padding-top: 20px;
        width: calc(100% + 40px);
        margin-left: -20px;
    }

    &__finances,
    &__estimates {
        padding-top: 44px;

        .title.medium {
            font-size: 18px;
        }

        .object-finances__title {
            margin-bottom: 24px;
        }

        .object-finances__vr {
            top: 40px;
        }
    }

    &__funds-row {
        display: flex;
        flex-flow: row wrap;
        padding-bottom: 8px;
        padding-top: 8px;
        margin: 0 -16px 8px;

        color: $text-color;
        text-decoration: none;

        border-bottom: 1px solid rgba(#919191, 0.2);
    }

    &__funds-cell {
        padding: 8px 16px;
        flex: 0 0 auto;

        font-size: 14px;
        font-weight: 400;

        &:first-child {
            width: 35%;
            max-width: 170px;
            font-weight: 600;
        }

        &:empty {
            display: none;
        }

        &--long {
            width: 65%;
        }

        &:last-child {
        }
    }
}

@media #{$tablet} {
    .monitoring-data {
        &__subnav {
            padding-left: 24px;
            padding-right: 24px;
            padding-bottom: 12px;
        }

        &__header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding-left: 24px;
            padding-right: 24px;
        }

        &__title {
            padding-right: 12px;
            margin-bottom: 0;
            flex: 1 1 auto;
        }

        &__link {
            flex: 0 0 auto;
        }

        &__toggles {
            padding: 20px 24px 0 24px;
        }

        &__data-list {
            padding-top: 42px;
            padding-bottom: 30px;
            padding-left: 24px;
            padding-right: 24px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        &__data-col {
            padding-right: 24px;
            max-width: 50%;
            flex: 1;

            &:first-child {
                display: block;

                .monitoring-data__data-block {
                    width: 100%;
                    padding: 0;
                }
            }
        }

        &__steps {
            padding-top: 30px;
            width: 100%;
            margin-left: 0;
        }

        &__table {
            padding-left: 24px;
            padding-right: 24px;
        }

        &__finances,
        &__estimates {
            padding-left: 24px;
        }

        &__estimates {
            padding-right: 24px;
        }

        &__funds-row {
            margin: 0;
        }

        &__funds-cell {
            font-size: 16px;

            &:first-child {
                max-width: 190px;
            }
        }
    }
}

@media #{$laptop} {
    .monitoring-data {
        &__header {
            padding: 24px;
        }

        &__title {
            font-size: 24px;
        }

        &__link {
            font-size: 18px;

            svg {
                position: relative;
                top: 2px;
                width: 11px;
                height: 13px;
            }
        }

        &__toggles {
            padding: 20px 24px 12px;
        }

        &__toggle {
            width: 25%;
        }

        &__toggle-title {
            font-size: 14px;
        }

        &__toggle-input {
            span {
                font-size: 13px;
                white-space: nowrap;
            }
        }

        &__graph {
            padding-top: 0;
        }

        &__table {
            padding-top: 40px;
            padding-left: 12px;
            padding-right: 12px;
        }

        &__finances {
            padding-left: 0px;
        }

        &__funds-table {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        &__funds-row {
            margin: 0;
            display: table-row;
        }

        &__funds-cell {
            display: table-cell;
            padding: 24px 16px;

            font-size: 18px;

            border-bottom: 1px solid rgba(#919191, 0.2);

            &:first-child {
                width: auto;
                max-width: none;
            }

            &--long {
                width: 40%;
            }

            &:empty {
                display: table-cell;
            }
        }
    }
}

@media #{$desktop} {
    .monitoring-data {
        &__header {
            padding-top: 32px;
            padding-bottom: 32px;

            &--funds {
                .monitoring-data__title {
                    font-size: 18px;
                }
            }
        }

        &__title {
            font-size: 34px;
        }

        &__rating {
            font-size: 34px;

            span {
                padding-left: 6px;
                padding-right: 6px;
            }
        }

        &__data-label {
            font-size: 14px;
        }

        &__data-value {
            font-size: 20px;
        }

        &__finances,
        &__estimates {
            padding-right: 1px;

            .object-finances__title {
                margin-bottom: 50px;

                .title.medium {
                    font-size: 34px;
                }
            }

            .object-estimates__title .title.medium {
                font-size: 34px;
            }
        }

        &__funds-row {
            &:hover {
                .monitoring-data__funds-cell {
                    background-color: #fff6d4;
                }
            }
        }

        &__funds-cell {
            padding: 36px 24px;

            transition: background-color 300ms ease;

            &:first-child {
                padding-left: 36px;
            }

            &:last-child {
                padding-right: 36px;
            }
        }
    }
}
