mixin cookies-alert()
    +b.cookies-alert
        +e.inner
            +e.P.text Пользуясь нашим сайтом, вы&nbsp;соглашаетесь с&nbsp;тем, что мы используем <a href='#'>cookies</a>
            +e.BUTTON.accept.btn.--small(type='button') Ок